.view-smartdocs-models .view-filters {
    float: left;
    width: 270px;
    min-height: 750px;
    background-color: #051e38;
    padding: 10px 20px;
    border-radius: 3px;
    overflow: scroll;
    margin-right: 50px;
}

.view-smartdocs-models .form-control {
    border: none;
    box-shadow: none;
}

.form-type-bef-checkbox {
    clear: both;
}

.form-type-bef-checkbox input {
    float: left;
    width: 15px;
}

.form-type-bef-checkbox label {
    float: left;
    margin-top: 11px;
    margin-left: 15px;
}

.view-smartdocs-models ul {
    list-style: none;
}

.view-smartdocs-models .img-responsive {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    margin-bottom: 10px;
}

.view-smartdocs-models .form-control { background-color: transparent !important; }

.view-smartdocs-models ul li {
    float: left;
    width: 230px;
    padding: 10px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.35);
    margin-bottom: 20px;
    margin-right: 10px;
    min-height: 150px;
    cursor: pointer;
    border-top: 3px solid #008BFA;
    border-radius: 2px;
}

.view-smartdocs-models .views-field.views-field-name {
    margin-top: 15px;
}

.view-smartdocs-models .model-info { padding-left: 0px !important; }

.view-smartdocs-models .bef-checkboxes label {
    color: #DDD;
    font-size: 13px;
    font-weight: normal;
}

.view-smartdocs-models label[for=edit-field-model-category-tid]
{
    font-size: 16px;
    color: #EEE;
}

.view-smartdocs-models .views-field-field-model-image-fa-icon {
    text-align:center;
    margin-top:20px;
}
