@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,700,300");

/*
	Archetype by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

         .prettyprint ol.linenums > li { list-style-type: decimal !important; }
        .node-teaser .method_details .title-description, .view .method_details .title-description { max-width: 400px !important; }
        .node-teaser .method_details .title p.resource_path, .view .method_details .title p.resource_path { padding-top: 10px !important; }
        #breadcrumb-navbar .col-md-12 { padding-left: 0px !important; padding-right: 0px !important; }
        .smartdocs-wrapper .col-sm-3 { padding-left: 0px !important; padding-right: 0px !important; width: 23% !important; margin-left: 2% !important; }

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Grid */

	.row {
		border-bottom: solid 1px transparent;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row > * {
		float: left;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row:after, .row:before {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.row.uniform > * > :first-child {
		margin-top: 0;
	}

	.row.uniform > * > :last-child {
		margin-bottom: 0;
	}

	.row.\30 \25 > * {
		padding: 0 0 0 0em;
	}

	.row.\30 \25 {
		margin: 0 0 -1px 0em;
	}

	.row.uniform.\30 \25 > * {
		padding: 0em 0 0 0em;
	}

	.row.uniform.\30 \25 {
		margin: 0em 0 -1px 0em;
	}

	.row > * {
		/* padding: 0 0 0 2em; */
	}

	.row {
		/* margin: 0 0 -1px -2em; */
	}

	.row.uniform > * {
		/* padding: 2em 0 0 2em; */
	}

	.row.uniform {
		/* margin: -2em 0 -1px -2em; */
	}

        .row { margin-left: 0px !important; margin-right: 0px !important; }

        #method_content { padding: 0px !important; }
        .breadcrumb { margin-bottom: 50px !important; }

	.row.\32 00\25 > * {
		padding: 0 0 0 4em;
	}

	.row.\32 00\25 {
		margin: 0 0 -1px -4em;
	}

	.row.uniform.\32 00\25 > * {
		padding: 4em 0 0 4em;
	}

	.row.uniform.\32 00\25 {
		margin: -4em 0 -1px -4em;
	}

	.row.\31 50\25 > * {
		padding: 0 0 0 3em;
	}

	.row.\31 50\25 {
		margin: 0 0 -1px -3em;
	}

	.row.uniform.\31 50\25 > * {
		padding: 3em 0 0 3em;
	}

	.row.uniform.\31 50\25 {
		margin: -3em 0 -1px -3em;
	}

	.row.\35 0\25 > * {
		padding: 0 0 0 1em;
	}

	.row.\35 0\25 {
		margin: 0 0 -1px -1em;
	}

	.row.uniform.\35 0\25 > * {
		padding: 1em 0 0 1em;
	}

	.row.uniform.\35 0\25 {
		margin: -1em 0 -1px -1em;
	}

	.row.\32 5\25 > * {
		padding: 0 0 0 0.5em;
	}

	.row.\32 5\25 {
		margin: 0 0 -1px -0.5em;
	}

	.row.uniform.\32 5\25 > * {
		padding: 0.5em 0 0 0.5em;
	}

	.row.uniform.\32 5\25 {
		margin: -0.5em 0 -1px -0.5em;
	}

	.\31 2u, .\31 2u\24 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}

	.\31 1u, .\31 1u\24 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 0u, .\31 0u\24 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\39 u, .\39 u\24 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}

	.\38 u, .\38 u\24 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\37 u, .\37 u\24 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\36 u, .\36 u\24 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}

	.\35 u, .\35 u\24 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\34 u, .\34 u\24 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\33 u, .\33 u\24 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}

	.\32 u, .\32 u\24 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 u, .\31 u\24 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\31 2u\24 + *,
	.\31 1u\24 + *,
	.\31 0u\24 + *,
	.\39 u\24 + *,
	.\38 u\24 + *,
	.\37 u\24 + *,
	.\36 u\24 + *,
	.\35 u\24 + *,
	.\34 u\24 + *,
	.\33 u\24 + *,
	.\32 u\24 + *,
	.\31 u\24 + * {
		clear: left;
	}

	.\-11u {
		margin-left: 91.66667%;
	}

	.\-10u {
		margin-left: 83.33333%;
	}

	.\-9u {
		margin-left: 75%;
	}

	.\-8u {
		margin-left: 66.66667%;
	}

	.\-7u {
		margin-left: 58.33333%;
	}

	.\-6u {
		margin-left: 50%;
	}

	.\-5u {
		margin-left: 41.66667%;
	}

	.\-4u {
		margin-left: 33.33333%;
	}

	.\-3u {
		margin-left: 25%;
	}

	.\-2u {
		margin-left: 16.66667%;
	}

	.\-1u {
		margin-left: 8.33333%;
	}

	@media screen and (max-width: 1680px) {

		.row > * {
			padding: 0 0 0 2em;
		}

		.row {
			margin: 0 0 -1px -2em;
		}

		.row.uniform > * {
			padding: 2em 0 0 2em;
		}

		.row.uniform {
			margin: -2em 0 -1px -2em;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 4em;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -4em;
		}

		.row.uniform.\32 00\25 > * {
			padding: 4em 0 0 4em;
		}

		.row.uniform.\32 00\25 {
			margin: -4em 0 -1px -4em;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 3em;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -3em;
		}

		.row.uniform.\31 50\25 > * {
			padding: 3em 0 0 3em;
		}

		.row.uniform.\31 50\25 {
			margin: -3em 0 -1px -3em;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 1em;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -1em;
		}

		.row.uniform.\35 0\25 > * {
			padding: 1em 0 0 1em;
		}

		.row.uniform.\35 0\25 {
			margin: -1em 0 -1px -1em;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.5em;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.5em;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.5em 0 0 0.5em;
		}

		.row.uniform.\32 5\25 {
			margin: -0.5em 0 -1px -0.5em;
		}

		.\31 2u\28xlarge\29, .\31 2u\24\28xlarge\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28xlarge\29, .\31 1u\24\28xlarge\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28xlarge\29, .\31 0u\24\28xlarge\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28xlarge\29, .\39 u\24\28xlarge\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28xlarge\29, .\38 u\24\28xlarge\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28xlarge\29, .\37 u\24\28xlarge\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28xlarge\29, .\36 u\24\28xlarge\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28xlarge\29, .\35 u\24\28xlarge\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28xlarge\29, .\34 u\24\28xlarge\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28xlarge\29, .\33 u\24\28xlarge\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28xlarge\29, .\32 u\24\28xlarge\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28xlarge\29, .\31 u\24\28xlarge\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28xlarge\29 + *,
		.\31 1u\24\28xlarge\29 + *,
		.\31 0u\24\28xlarge\29 + *,
		.\39 u\24\28xlarge\29 + *,
		.\38 u\24\28xlarge\29 + *,
		.\37 u\24\28xlarge\29 + *,
		.\36 u\24\28xlarge\29 + *,
		.\35 u\24\28xlarge\29 + *,
		.\34 u\24\28xlarge\29 + *,
		.\33 u\24\28xlarge\29 + *,
		.\32 u\24\28xlarge\29 + *,
		.\31 u\24\28xlarge\29 + * {
			clear: left;
		}

		.\-11u\28xlarge\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28xlarge\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28xlarge\29 {
			margin-left: 75%;
		}

		.\-8u\28xlarge\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28xlarge\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28xlarge\29 {
			margin-left: 50%;
		}

		.\-5u\28xlarge\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28xlarge\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28xlarge\29 {
			margin-left: 25%;
		}

		.\-2u\28xlarge\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28xlarge\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 1280px) {

		.row > * {
			padding: 0 0 0 2em;
		}

		.row {
			margin: 0 0 -1px -2em;
		}

		.row.uniform > * {
			padding: 2em 0 0 2em;
		}

		.row.uniform {
			margin: -2em 0 -1px -2em;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 4em;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -4em;
		}

		.row.uniform.\32 00\25 > * {
			padding: 4em 0 0 4em;
		}

		.row.uniform.\32 00\25 {
			margin: -4em 0 -1px -4em;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 3em;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -3em;
		}

		.row.uniform.\31 50\25 > * {
			padding: 3em 0 0 3em;
		}

		.row.uniform.\31 50\25 {
			margin: -3em 0 -1px -3em;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 1em;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -1em;
		}

		.row.uniform.\35 0\25 > * {
			padding: 1em 0 0 1em;
		}

		.row.uniform.\35 0\25 {
			margin: -1em 0 -1px -1em;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.5em;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.5em;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.5em 0 0 0.5em;
		}

		.row.uniform.\32 5\25 {
			margin: -0.5em 0 -1px -0.5em;
		}

		.\31 2u\28large\29, .\31 2u\24\28large\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28large\29, .\31 1u\24\28large\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28large\29, .\31 0u\24\28large\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28large\29, .\39 u\24\28large\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28large\29, .\38 u\24\28large\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28large\29, .\37 u\24\28large\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28large\29, .\36 u\24\28large\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28large\29, .\35 u\24\28large\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28large\29, .\34 u\24\28large\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28large\29, .\33 u\24\28large\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28large\29, .\32 u\24\28large\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28large\29, .\31 u\24\28large\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28large\29 + *,
		.\31 1u\24\28large\29 + *,
		.\31 0u\24\28large\29 + *,
		.\39 u\24\28large\29 + *,
		.\38 u\24\28large\29 + *,
		.\37 u\24\28large\29 + *,
		.\36 u\24\28large\29 + *,
		.\35 u\24\28large\29 + *,
		.\34 u\24\28large\29 + *,
		.\33 u\24\28large\29 + *,
		.\32 u\24\28large\29 + *,
		.\31 u\24\28large\29 + * {
			clear: left;
		}

		.\-11u\28large\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28large\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28large\29 {
			margin-left: 75%;
		}

		.\-8u\28large\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28large\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28large\29 {
			margin-left: 50%;
		}

		.\-5u\28large\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28large\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28large\29 {
			margin-left: 25%;
		}

		.\-2u\28large\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28large\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 980px) {

		.row > * {
			padding: 0 0 0 2em;
		}

		.row {
			margin: 0 0 -1px -2em;
		}

		.row.uniform > * {
			padding: 2em 0 0 2em;
		}

		.row.uniform {
			margin: -2em 0 -1px -2em;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 4em;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -4em;
		}

		.row.uniform.\32 00\25 > * {
			padding: 4em 0 0 4em;
		}

		.row.uniform.\32 00\25 {
			margin: -4em 0 -1px -4em;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 3em;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -3em;
		}

		.row.uniform.\31 50\25 > * {
			padding: 3em 0 0 3em;
		}

		.row.uniform.\31 50\25 {
			margin: -3em 0 -1px -3em;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 1em;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -1em;
		}

		.row.uniform.\35 0\25 > * {
			padding: 1em 0 0 1em;
		}

		.row.uniform.\35 0\25 {
			margin: -1em 0 -1px -1em;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.5em;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.5em;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.5em 0 0 0.5em;
		}

		.row.uniform.\32 5\25 {
			margin: -0.5em 0 -1px -0.5em;
		}

		.\31 2u\28medium\29, .\31 2u\24\28medium\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28medium\29, .\31 1u\24\28medium\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28medium\29, .\31 0u\24\28medium\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28medium\29, .\39 u\24\28medium\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28medium\29, .\38 u\24\28medium\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28medium\29, .\37 u\24\28medium\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28medium\29, .\36 u\24\28medium\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28medium\29, .\35 u\24\28medium\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28medium\29, .\34 u\24\28medium\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28medium\29, .\33 u\24\28medium\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28medium\29, .\32 u\24\28medium\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28medium\29, .\31 u\24\28medium\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28medium\29 + *,
		.\31 1u\24\28medium\29 + *,
		.\31 0u\24\28medium\29 + *,
		.\39 u\24\28medium\29 + *,
		.\38 u\24\28medium\29 + *,
		.\37 u\24\28medium\29 + *,
		.\36 u\24\28medium\29 + *,
		.\35 u\24\28medium\29 + *,
		.\34 u\24\28medium\29 + *,
		.\33 u\24\28medium\29 + *,
		.\32 u\24\28medium\29 + *,
		.\31 u\24\28medium\29 + * {
			clear: left;
		}

		.\-11u\28medium\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28medium\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28medium\29 {
			margin-left: 75%;
		}

		.\-8u\28medium\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28medium\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28medium\29 {
			margin-left: 50%;
		}

		.\-5u\28medium\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28medium\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28medium\29 {
			margin-left: 25%;
		}

		.\-2u\28medium\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28medium\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 736px) {

		.row > * {
			padding: 0 0 0 2em;
		}

		.row {
			margin: 0 0 -1px -2em;
		}

		.row.uniform > * {
			padding: 2em 0 0 2em;
		}

		.row.uniform {
			margin: -2em 0 -1px -2em;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 4em;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -4em;
		}

		.row.uniform.\32 00\25 > * {
			padding: 4em 0 0 4em;
		}

		.row.uniform.\32 00\25 {
			margin: -4em 0 -1px -4em;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 3em;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -3em;
		}

		.row.uniform.\31 50\25 > * {
			padding: 3em 0 0 3em;
		}

		.row.uniform.\31 50\25 {
			margin: -3em 0 -1px -3em;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 1em;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -1em;
		}

		.row.uniform.\35 0\25 > * {
			padding: 1em 0 0 1em;
		}

		.row.uniform.\35 0\25 {
			margin: -1em 0 -1px -1em;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.5em;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.5em;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.5em 0 0 0.5em;
		}

		.row.uniform.\32 5\25 {
			margin: -0.5em 0 -1px -0.5em;
		}

		.\31 2u\28small\29, .\31 2u\24\28small\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28small\29, .\31 1u\24\28small\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28small\29, .\31 0u\24\28small\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28small\29, .\39 u\24\28small\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28small\29, .\38 u\24\28small\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28small\29, .\37 u\24\28small\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28small\29, .\36 u\24\28small\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28small\29, .\35 u\24\28small\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28small\29, .\34 u\24\28small\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28small\29, .\33 u\24\28small\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28small\29, .\32 u\24\28small\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28small\29, .\31 u\24\28small\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28small\29 + *,
		.\31 1u\24\28small\29 + *,
		.\31 0u\24\28small\29 + *,
		.\39 u\24\28small\29 + *,
		.\38 u\24\28small\29 + *,
		.\37 u\24\28small\29 + *,
		.\36 u\24\28small\29 + *,
		.\35 u\24\28small\29 + *,
		.\34 u\24\28small\29 + *,
		.\33 u\24\28small\29 + *,
		.\32 u\24\28small\29 + *,
		.\31 u\24\28small\29 + * {
			clear: left;
		}

		.\-11u\28small\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28small\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28small\29 {
			margin-left: 75%;
		}

		.\-8u\28small\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28small\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28small\29 {
			margin-left: 50%;
		}

		.\-5u\28small\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28small\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28small\29 {
			margin-left: 25%;
		}

		.\-2u\28small\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28small\29 {
			margin-left: 8.33333%;
		}

	}

        .modal[role="dialog"] #user-login input, .modal[role="dialog"] #user-register-form input {
            height: 35px !important;
            background-color: #FFF !important;
            border-radius: 2px !important;

        }
        #modal_container.modal .modal-header .close, [role="dialog"].modal .modal-header .close {
                margin-top: -20px !important;
                box-shadow: none !important;
        }
        .btn { color: #FFF !important; }

	@media screen and (max-width: 480px) {

		.row > * {
			padding: 0 0 0 2em;
		}

		.row {
			margin: 0 0 -1px -2em;
		}

		.row.uniform > * {
			padding: 2em 0 0 2em;
		}

		.row.uniform {
			margin: -2em 0 -1px -2em;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 4em;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -4em;
		}

		.row.uniform.\32 00\25 > * {
			padding: 4em 0 0 4em;
		}

		.row.uniform.\32 00\25 {
			margin: -4em 0 -1px -4em;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 3em;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -3em;
		}

		.row.uniform.\31 50\25 > * {
			padding: 3em 0 0 3em;
		}

		.row.uniform.\31 50\25 {
			margin: -3em 0 -1px -3em;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 1em;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -1em;
		}

		.row.uniform.\35 0\25 > * {
			padding: 1em 0 0 1em;
		}

		.row.uniform.\35 0\25 {
			margin: -1em 0 -1px -1em;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.5em;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.5em;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.5em 0 0 0.5em;
		}

		.row.uniform.\32 5\25 {
			margin: -0.5em 0 -1px -0.5em;
		}

		.\31 2u\28xsmall\29, .\31 2u\24\28xsmall\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28xsmall\29, .\31 1u\24\28xsmall\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28xsmall\29, .\31 0u\24\28xsmall\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28xsmall\29, .\39 u\24\28xsmall\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28xsmall\29, .\38 u\24\28xsmall\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28xsmall\29, .\37 u\24\28xsmall\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28xsmall\29, .\36 u\24\28xsmall\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28xsmall\29, .\35 u\24\28xsmall\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28xsmall\29, .\34 u\24\28xsmall\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28xsmall\29, .\33 u\24\28xsmall\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28xsmall\29, .\32 u\24\28xsmall\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28xsmall\29, .\31 u\24\28xsmall\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28xsmall\29 + *,
		.\31 1u\24\28xsmall\29 + *,
		.\31 0u\24\28xsmall\29 + *,
		.\39 u\24\28xsmall\29 + *,
		.\38 u\24\28xsmall\29 + *,
		.\37 u\24\28xsmall\29 + *,
		.\36 u\24\28xsmall\29 + *,
		.\35 u\24\28xsmall\29 + *,
		.\34 u\24\28xsmall\29 + *,
		.\33 u\24\28xsmall\29 + *,
		.\32 u\24\28xsmall\29 + *,
		.\31 u\24\28xsmall\29 + * {
			clear: left;
		}

		.\-11u\28xsmall\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28xsmall\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28xsmall\29 {
			margin-left: 75%;
		}

		.\-8u\28xsmall\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28xsmall\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28xsmall\29 {
			margin-left: 50%;
		}

		.\-5u\28xsmall\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28xsmall\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28xsmall\29 {
			margin-left: 25%;
		}

		.\-2u\28xsmall\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28xsmall\29 {
			margin-left: 8.33333%;
		}

	}

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	body {
		background: #fff;
	}

		body.is-loading *, body.is-loading *:before, body.is-loading *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

/* Typography */

	body {
		background-color: #fff;
		color: #5e6875;
	}

	body, input, select, textarea {
		font-family: "Open Sans", Helvetica, sans-serif;
		font-size: 14pt;
		font-weight: 300;
		line-height: 1.65em;
	}

		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 736px) {

			body, input, select, textarea {
				font-size: 11pt;
			}

		}

	a {
		text-decoration: underline;
	}

		a:hover {
			text-decoration: none;
		}

	strong, b {
		font-weight: 700;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 700 !important;
		line-height: 1em;
		margin: 0 0 1em 0;
		text-transform: uppercase;
		letter-spacing: 0.05em;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h2 {
		font-size: 1.45em;
		line-height: 1.5em;
	}

        #banner h2 { font-size: 1.75em; }
        .cta h2 { font-size: 1.75em; }

	h3 {
		font-size: 0.9em;
		line-height: 1.5em !important;
	}

        #method_content h3 { font-size: 1.1em !important; color: #4d5968 !important; }

        h4 {
		font-size: 0.9em;
		line-height: 1.5em;
	}

	h5 {
		font-size: 0.9em;
		line-height: 1.5em;
	}

	h6 {
		font-size: 0.7em;
		line-height: 1.5em;
	}

        #method_content .operation_container .authentication { display: none; }
        #method_content button#send_request {
            border: none !important;
            border-radius: 2px !important;
            color: #FFF !important;
        }
	#method_content a.link_reset_default {
            display: inline-block;
            margin: 0px 0 0 10px !important;
            font-size: 15px !important;
            line-height: 30px !important;
            padding: 10px 40px !important;
            font-weight: bold !important;
            background-color: #EEE !important;
	}
        .request_response_tabs { margin-top: 50px; }

	@media screen and (max-width: 1280px) {

		h2 {
			font-size: 1.35em;
		}

	}

	@media screen and (max-width: 736px) {

		h2 {
			font-size: 1.2em;
		}

	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	blockquote {
		border-left: solid 4px;
		font-style: italic;
		margin: 0 0 2em 0;
		padding: 0.5em 0 0.5em 2em;
	}

	code {
		border-radius: 5px;
		border: solid 1px;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0 2em 0;
	}

		pre code {
			display: block;
			line-height: 1.75em;
			padding: 1em 1.5em;
			overflow-x: auto;
		}

	hr {
		border: 0;
		border-bottom: solid 1px;
		margin: 1em 0;
	}

		hr.major {
			margin: 2em 0;
			border-bottom-width: 2px;
		}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

	input, select, textarea {
		color: #4d5968;
	}

        #edit-keys {
            border: none;
            background-color: #FAFAFA;
            border-bottom: 6px solid #F4F4F4;
            padding: 5px 20px;
            font-size: 26px;
            line-height: 26px;
            letter-spacing: 1px;
        }

        textarea:focus, input:focus{
            outline: none;
        }

	a {
		color: #5f9dd2;
	}

	strong, b {
		color: #4d5968;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #4d5968;
	}

	blockquote {
		border-left-color: rgba(144, 144, 144, 0.25);
	}

	code {
		background: rgba(144, 144, 144, 0.075);
		border-color: rgba(144, 144, 144, 0.25);
	}

	hr {
		border-bottom-color: rgba(144, 144, 144, 0.25);
	}

/* Box */

	.box {
		border-radius: 5px;
		border: solid 1px;
		margin-bottom: 2em;
		padding: 1.5em;
	}

		.box > :last-child,
		.box > :last-child > :last-child,
		.box > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		.box.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}

	.box {
		border-color: rgba(144, 144, 144, 0.25);
	}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		border-radius: 5px;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-size: 0.8em;
		font-weight: 700;
		height: 3.25em;
		line-height: 3.35em;
		padding: 0 2em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
	}

		input[type="submit"].icon,
		input[type="reset"].icon,
		input[type="button"].icon,
		button.icon,
		.button.icon {
			padding-left: 1.35em;
		}

			input[type="submit"].icon:before,
			input[type="reset"].icon:before,
			input[type="button"].icon:before,
			button.icon:before,
			.button.icon:before {
				margin-right: 0.5em;
			}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			display: block;
			margin: 0 0 1em 0;
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.6em;
		}

		input[type="submit"].big,
		input[type="reset"].big,
		input[type="button"].big,
		button.big,
		.button.big {
			font-size: 0.9em;
			height: 3.5em;
			line-height: 3.6em;
			padding: 0 2em;
		}

		input[type="submit"].huge,
		input[type="reset"].huge,
		input[type="button"].huge,
		button.huge,
		.button.huge {
			font-size: 0.9em;
			height: 3.5em;
			line-height: 3.6em;
			padding: 0 3.5em;
		}

			@media screen and (max-width: 980px) {

				input[type="submit"].huge,
				input[type="reset"].huge,
				input[type="button"].huge,
				button.huge,
				.button.huge {
					font-size: 0.9em;
					height: 3.5em;
					line-height: 3.6em;
					padding: 0 2em;
				}

			}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			-moz-pointer-events: none;
			-webkit-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			opacity: 0.25;
		}

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		background-color: transparent;
		box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
		color: #4d5968 !important;
		letter-spacing: 0.05em;
		text-transform: uppercase;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			background-color: rgba(144, 144, 144, 0.075);
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: rgba(144, 144, 144, 0.2);
		}

		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		input[type="button"].icon:before,
		button.icon:before,
		.button.icon:before {
			color: #7e8895;
		}

		input[type="submit"].special,
		input[type="reset"].special,
		input[type="button"].special,
		button.special,
		.button.special {
			box-shadow: none;
			background-color: #5f9dd2;
			color: #ffffff !important;
		}

			input[type="submit"].special:hover,
			input[type="reset"].special:hover,
			input[type="button"].special:hover,
			button.special:hover,
			.button.special:hover {
				background-color: #73a9d8;
			}

			input[type="submit"].special:active,
			input[type="reset"].special:active,
			input[type="button"].special:active,
			button.special:active,
			.button.special:active {
				background-color: #4b91cc;
			}

			input[type="submit"].special.icon:before,
			input[type="reset"].special.icon:before,
			input[type="button"].special.icon:before,
			button.special.icon:before,
			.button.special.icon:before {
				color: #bfd7ed;
			}

/* Form */

	form {
		margin: 0 0 2em 0;
	}

	label {
		display: block;
		font-size: 0.9em;
		font-weight: 700;
		margin: 0 0 1em 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		border-radius: 5px;
		border: none;
		border: solid 1px;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

	.select-wrapper {
		text-decoration: none;
		display: block;
		position: relative;
	}

		.select-wrapper:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.select-wrapper:before {
			content: '\f078';
			display: block;
			height: 2.75em;
			line-height: 2.75em;
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 2.75em;
		}

		.select-wrapper select::-ms-expand {
			display: none;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 2.75em;
	}

	textarea {
		padding: 0.75em 1em;
	}

	input[type="checkbox"],
	input[type="radio"] {
		appearance: none;
		display: block;
		float: left;
		margin-right: -2em;
		width: 1em;
		z-index: -1;
	}

		input[type="checkbox"] + label,
		input[type="radio"] + label {
			text-decoration: none;
			cursor: pointer;
			display: inline-block;
			font-size: 1em;
			font-weight: 300;
			padding-left: 2.4em;
			padding-right: 0.75em;
			position: relative;
		}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				border-radius: 5px;
				border: solid 1px;
				content: '';
				display: inline-block;
				height: 1.65em;
				left: 0;
				line-height: 1.58125em;
				position: absolute;
				text-align: center;
				top: 0;
				width: 1.65em;
			}

		input[type="checkbox"]:checked + label:before,
		input[type="radio"]:checked + label:before {
			content: '\f00c';
		}

	input[type="checkbox"] + label:before {
		border-radius: 5px;
	}

	input[type="radio"] + label:before {
		border-radius: 100%;
	}

	::-webkit-input-placeholder {
		opacity: 1.0;
	}

	:-moz-placeholder {
		opacity: 1.0;
	}

	::-moz-placeholder {
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		opacity: 1.0;
	}

	.formerize-placeholder {
		opacity: 1.0;
	}

	label {
		color: #4d5968;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		background: rgba(144, 144, 144, 0.075);
		border-color: rgba(144, 144, 144, 0.25);
	}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		select:focus,
		textarea:focus {
			border-color: #5f9dd2;
			box-shadow: 0 0 0 1px #5f9dd2;
		}

	.select-wrapper:before {
		color: rgba(144, 144, 144, 0.25);
	}

	input[type="checkbox"] + label,
	input[type="radio"] + label {
		color: #5e6875;
	}

		input[type="checkbox"] + label:before,
		input[type="radio"] + label:before {
			background: rgba(144, 144, 144, 0.075);
			border-color: rgba(144, 144, 144, 0.25);
		}

	input[type="checkbox"]:checked + label:before,
	input[type="radio"]:checked + label:before {
		background-color: #5f9dd2;
		border-color: #5f9dd2;
		color: #ffffff;
	}

	input[type="checkbox"]:focus + label:before,
	input[type="radio"]:focus + label:before {
		border-color: #5f9dd2;
		box-shadow: 0 0 0 1px #5f9dd2;
	}

	::-webkit-input-placeholder {
		color: #7e8895 !important;
	}

	:-moz-placeholder {
		color: #7e8895 !important;
	}

	::-moz-placeholder {
		color: #7e8895 !important;
	}

	:-ms-input-placeholder {
		color: #7e8895 !important;
	}

	.formerize-placeholder {
		color: #7e8895 !important;
	}


/* Custom Header Things.. */

        .page-header {
            background: transparent !important;
            border-bottom: none !important;
            border-top: none !important;
            box-shadow: none !important;
            padding-top: none !important;
            margin-top: 0px;
            padding-top: 0px;
        }

        .inner .container {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

/* Image */

	.image {
		border-radius: 5px;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			border-radius: 5px;
			display: block;
		}

		.image.left, .image.right {
			max-width: 40%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.left {
			float: left;
			margin: 0 1.5em 1em 0;
			top: 0.25em;
		}

		.image.right {
			float: right;
			margin: 0 0 1em 1.5em;
			top: 0.25em;
		}

		.image.fit {
			display: block;
			margin: 0 0 2em 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

		.image.main {
			display: block;
			margin: 0 0 3em 0;
			width: 100%;
		}

			.image.main img {
				width: 100%;
			}


/* Apigee/Drupal Things... */

        .field-type-text-with-summary { clear: both; margin-top: 2em;  }


/* List */

	ol {
		list-style: decimal;
		margin: 0 0 2em 0;
		padding-left: 1.25em;
	}

		ol li {
			padding-left: 0.25em;
		}

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 1px;
				padding: 0.5em 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

				ul.icons li .icon:before {
					font-size: 2em;
				}

			ul.icons.bulleted li {
				padding-left: 2em;
				position: relative;
				display: block;
			}

				ul.icons.bulleted li.icon:before {
					left: 0;
					position: absolute;
					top: 0;
				}

				ul.icons.bulleted li > :last-child {
					margin-bottom: 1em;
				}

		ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.actions li {
				display: inline-block;
				padding: 0 1em 0 0;
				vertical-align: middle;
			}

				ul.actions li:last-child {
					padding-right: 0;
				}

			ul.actions.small li {
				padding: 0 0.5em 0 0;
			}

			ul.actions.vertical li {
				display: block;
				padding: 1em 0 0 0;
			}

				ul.actions.vertical li:first-child {
					padding-top: 0;
				}

				ul.actions.vertical li > * {
					margin-bottom: 0;
				}

			ul.actions.vertical.small li {
				padding: 0.5em 0 0 0;
			}

				ul.actions.vertical.small li:first-child {
					padding-top: 0;
				}

			ul.actions.fit {
				display: table;
				margin-left: -1em;
				padding: 0;
				table-layout: fixed;
				width: calc(100% + 1em);
			}

				ul.actions.fit li {
					display: table-cell;
					padding: 0 0 0 1em;
				}

					ul.actions.fit li > * {
						margin-bottom: 0;
					}

				ul.actions.fit.small {
					margin-left: -0.5em;
					width: calc(100% + 0.5em);
				}

					ul.actions.fit.small li {
						padding: 0 0 0 0.5em;
					}

		ul.features {
			list-style: none;
			padding: 0;
		}

			ul.features li {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				border-top: solid 2px;
				margin: 3em 0 0 0;
				padding: 3em 0 0 0;
			}

				ul.features li h3 {
					margin-bottom: 0;
					min-width: 20em;
					padding-left: 4.5em;
					position: relative;
					width: 35%;
					-ms-flex: auto;
				}

					ul.features li h3:before {
						border-radius: 100%;
						border: solid 2px;
						font-size: 1.25em;
						height: 2.5em;
						left: 0;
						line-height: 2.25em;
						position: absolute;
						text-align: center;
						top: 0;
						width: 2.5em;
					}

				ul.features li p {
					width: 65%;
					-ms-flex: auto;
					margin-bottom: 0;
					padding-left: 3em;
				}

				ul.features li:first-child {
					border-top: 0;
					margin-top: 0;
					padding-top: 0;
				}

			@media screen and (max-width: 736px) {

				ul.features li h3 {
					min-width: 15em;
				}

				ul.features li p {
					padding-left: 2em;
				}

			}

			@media screen and (max-width: 480px) {

				ul.features li {
					-moz-flex-direction: column;
					-webkit-flex-direction: column;
					-ms-flex-direction: column;
					flex-direction: column;
				}

					ul.features li h3 {
						width: 100%;
						margin: 0 0 2em 0;
						padding-left: 4.25em;
					}

					ul.features li p {
						padding-left: 3.75em;
						width: 100%;
					}

			}

	dl {
		margin: 0 0 2em 0;
	}

		dl dt {
			display: block;
			font-weight: 700;
			margin: 0 0 1em 0;
		}

		dl dd {
			margin-left: 2em;
		}

	ul.alt li {
		border-top-color: rgba(144, 144, 144, 0.25);
	}

	ul.features li {
		border-top-color: rgba(144, 144, 144, 0.25);
	}

		ul.features li h3:before {
			border-color: rgba(144, 144, 144, 0.25);
		}

		ul.features li:nth-child(3n - 2) h3:before {
			color: #5f9dd2;
		}

		ul.features li:nth-child(3n - 1) h3:before {
			color: #758ce1;
		}

		ul.features li:nth-child(3n) h3:before {
			color: #e286a9;
		}

/* Posts */

	.posts {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin: 0 0 2em 0;
	}

		.posts .post {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
		}

			.posts .post .image {
				display: block;
				margin-right: 2em;
				width: 40%;
				-ms-flex: auto;
			}

				.posts .post .image img {
					display: block;
					width: 100%;
				}

			.posts .post .content {
				width: 60%;
				-ms-flex: auto;
			}

				.posts .post .content > :last-child {
					margin-bottom: 0;
				}

		.posts > * {
			margin: 0 0 4em 0;
			padding: 0 1.5em;
			width: 50%;
		}

		.posts > :nth-child(2n) {
			padding-right: 0;
		}

		.posts > :nth-child(2n + 1) {
			padding-left: 0;
		}

		.posts > :nth-last-child(1), .posts > :nth-last-child(2) {
			margin-bottom: 0;
		}

		@media screen and (max-width: 980px) {

			.posts .post .image {
				width: 30%;
			}

			.posts .post .content {
				width: 70%;
			}

			.posts > * {
				margin: 0 0 3em 0 !important;
				padding: 0;
				width: 100%;
			}

			.posts > :last-child {
				margin-bottom: 0 !important;
			}

		}

		@media screen and (max-width: 736px) {

			.posts .post .image {
				width: 30%;
				min-width: 6em;
			}

			.posts .post .content {
				width: 70%;
			}

		}

		@media screen and (max-width: 480px) {

			.posts .post .image {
				margin-right: 1.5em;
			}

		}

/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header p {
		position: relative;
		margin: 0 0 1.5em 0;
	}

	header h2 + p {
		font-size: 1.25em;
		margin-top: -0.7em;
		line-height: 1.5em;
	}

	header h3 + p {
		font-size: 1.1em;
		margin-top: -0.5em;
		line-height: 1.5em;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9em;
		margin-top: -0.6em;
		line-height: 1.5em;
	}

	header.major {
		margin: 0 0 2em 0;
	}

		header.major p {
			margin-bottom: 1em;
		}

		header.major:after {
			content: '';
			display: inline-block;
			height: 2px;
			width: 4em;
		}

	@media screen and (max-width: 736px) {

		header p {
			font-size: 1em !important;
		}

		header.major {
			margin: 0 0 2em 0;
		}

	}

	header p {
		color: #7e8895;
	}

	header.major:after {
		background-color: rgba(144, 144, 144, 0.25);
	}

/* Table */

	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

	table {
		margin: 0 0 2em 0;
		width: 100%;
	}

		table tbody tr {
			border: solid 1px;
			border-left: 0;
			border-right: 0;
		}

		table td {
			padding: 0.75em 0.75em;
		}

		table th {
			font-size: 0.9em;
			font-weight: 700;
			padding: 0 0.75em 0.75em 0.75em;
			text-align: left;
		}

		table thead {
			border-bottom: solid 2px;
		}

		table tfoot {
			border-top: solid 2px;
		}

		table.alt {
			border-collapse: separate;
		}

			table.alt tbody tr td {
				border: solid 1px;
				border-left-width: 0;
				border-top-width: 0;
			}

				table.alt tbody tr td:first-child {
					border-left-width: 1px;
				}

			table.alt tbody tr:first-child td {
				border-top-width: 1px;
			}

			table.alt thead {
				border-bottom: 0;
			}

			table.alt tfoot {
				border-top: 0;
			}

	table tbody tr {
		border-color: rgba(144, 144, 144, 0.25);
	}

		table tbody tr:nth-child(2n + 1) {
			background-color: rgba(144, 144, 144, 0.075);
		}

	table th {
		color: #4d5968;
	}

	table thead {
		border-bottom-color: rgba(144, 144, 144, 0.25);
	}

	table tfoot {
		border-top-color: rgba(144, 144, 144, 0.25);
	}

	table.alt tbody tr td {
		border-color: rgba(144, 144, 144, 0.25);
	}


        #one .node-teaser .method_details .title a, .view .method_details .title a { font-weight: bold; font-size: 13pt !important; }
        #one .view-content { font-size: 13pt !important; }

        #block-views-devconnect-blog-block-1 { padding-left: 0px !important; padding-right: 30px; }
        #block-views-home-featured-forum-posts-block { padding: 0px 30px; }
        #block-views-smartdocs-methods-frontpage { padding-left: 30px; }


        .node-teaser .method_details .title-header, .view .method_details .title-header { width: 550px !important; }
        .node-teaser .method_details .title, .view .method_details .title { width: 550px !important; }
        .node-teaser.method_details .description, .view .method_details .description { max-width: 600px !important; }


        /* Wrapper */

	.wrapper {
    padding: 3.5em 0 2em 0 ;
    padding-top: 0;
		position: relative;
	}

		.wrapper > .inner {
			margin: 0 auto;
			width: 70em;
		}

		.wrapper.style1 {
			background-color: #5f9dd2;
			color: #d7e6f3;
		}

			.wrapper.style1 input, .wrapper.style1 select, .wrapper.style1 textarea {
				color: #ffffff;
			}

			.wrapper.style1 a {
				color: #ffffff;
			}

			.wrapper.style1 strong, .wrapper.style1 b {
				color: #ffffff;
			}

			.wrapper.style1 h1, .wrapper.style1 h2, .wrapper.style1 h3, .wrapper.style1 h4, .wrapper.style1 h5, .wrapper.style1 h6 {
				color: #ffffff;
			}

			.wrapper.style1 blockquote {
				border-left-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style1 code {
				background: rgba(255, 255, 255, 0.075);
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style1 hr {
				border-bottom-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style1 .box {
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style1 input[type="submit"],
			.wrapper.style1 input[type="reset"],
			.wrapper.style1 input[type="button"],
			.wrapper.style1 button,
			.wrapper.style1 .button {
				background-color: transparent;
				box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
				color: #ffffff !important;
				letter-spacing: 0.05em;
				text-transform: uppercase;
			}

				.wrapper.style1 input[type="submit"]:hover,
				.wrapper.style1 input[type="reset"]:hover,
				.wrapper.style1 input[type="button"]:hover,
				.wrapper.style1 button:hover,
				.wrapper.style1 .button:hover {
					background-color: rgba(255, 255, 255, 0.075);
				}

				.wrapper.style1 input[type="submit"]:active,
				.wrapper.style1 input[type="reset"]:active,
				.wrapper.style1 input[type="button"]:active,
				.wrapper.style1 button:active,
				.wrapper.style1 .button:active {
					background-color: rgba(255, 255, 255, 0.2);
				}

				.wrapper.style1 input[type="submit"].icon:before,
				.wrapper.style1 input[type="reset"].icon:before,
				.wrapper.style1 input[type="button"].icon:before,
				.wrapper.style1 button.icon:before,
				.wrapper.style1 .button.icon:before {
					color: #bfd7ed;
				}

				.wrapper.style1 input[type="submit"].special,
				.wrapper.style1 input[type="reset"].special,
				.wrapper.style1 input[type="button"].special,
				.wrapper.style1 button.special,
				.wrapper.style1 .button.special {
					box-shadow: none;
					background-color: #ffffff;
					color: #5f9dd2 !important;
				}

					.wrapper.style1 input[type="submit"].special.icon:before,
					.wrapper.style1 input[type="reset"].special.icon:before,
					.wrapper.style1 input[type="button"].special.icon:before,
					.wrapper.style1 button.special.icon:before,
					.wrapper.style1 .button.special.icon:before {
						color: #bfd7ed;
					}

			.wrapper.style1 label {
				color: #ffffff;
			}

			.wrapper.style1 input[type="text"],
			.wrapper.style1 input[type="password"],
			.wrapper.style1 input[type="email"],
			.wrapper.style1 select,
			.wrapper.style1 textarea {
				background: rgba(255, 255, 255, 0.075);
				border-color: rgba(255, 255, 255, 0.25);
			}

				.wrapper.style1 input[type="text"]:focus,
				.wrapper.style1 input[type="password"]:focus,
				.wrapper.style1 input[type="email"]:focus,
				.wrapper.style1 select:focus,
				.wrapper.style1 textarea:focus {
					border-color: #ffffff;
					box-shadow: 0 0 0 1px #ffffff;
				}

			.wrapper.style1 .select-wrapper:before {
				color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style1 input[type="checkbox"] + label,
			.wrapper.style1 input[type="radio"] + label {
				color: #d7e6f3;
			}

				.wrapper.style1 input[type="checkbox"] + label:before,
				.wrapper.style1 input[type="radio"] + label:before {
					background: rgba(255, 255, 255, 0.075);
					border-color: rgba(255, 255, 255, 0.25);
				}

			.wrapper.style1 input[type="checkbox"]:checked + label:before,
			.wrapper.style1 input[type="radio"]:checked + label:before {
				background-color: #ffffff;
				border-color: #ffffff;
				color: #5f9dd2;
			}

			.wrapper.style1 input[type="checkbox"]:focus + label:before,
			.wrapper.style1 input[type="radio"]:focus + label:before {
				border-color: #ffffff;
				box-shadow: 0 0 0 1px #ffffff;
			}

			.wrapper.style1 ::-webkit-input-placeholder {
				color: #bfd7ed !important;
			}

			.wrapper.style1 :-moz-placeholder {
				color: #bfd7ed !important;
			}

			.wrapper.style1 ::-moz-placeholder {
				color: #bfd7ed !important;
			}

			.wrapper.style1 :-ms-input-placeholder {
				color: #bfd7ed !important;
			}

			.wrapper.style1 .formerize-placeholder {
				color: #bfd7ed !important;
			}

			.wrapper.style1 ul.alt li {
				border-top-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style1 ul.features li {
				border-top-color: rgba(255, 255, 255, 0.25);
			}

				.wrapper.style1 ul.features li h3:before {
					border-color: rgba(255, 255, 255, 0.25);
				}

				.wrapper.style1 ul.features li h3:before {
					color: #ffffff;
				}

			.wrapper.style1 header p {
				color: #bfd7ed;
			}

			.wrapper.style1 header.major:after {
				background-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style1 table tbody tr {
				border-color: rgba(255, 255, 255, 0.25);
			}

				.wrapper.style1 table tbody tr:nth-child(2n + 1) {
					background-color: rgba(255, 255, 255, 0.075);
				}

			.wrapper.style1 table th {
				color: #ffffff;
			}

			.wrapper.style1 table thead {
				border-bottom-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style1 table tfoot {
				border-top-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style1 table.alt tbody tr td {
				border-color: rgba(255, 255, 255, 0.25);
			}

		.wrapper.style2 {
			background-color: #758ce1;
			color: #dce2f7;
		}

			.wrapper.style2 input, .wrapper.style2 select, .wrapper.style2 textarea {
				color: #ffffff;
			}

			.wrapper.style2 a {
				color: #ffffff;
			}

			.wrapper.style2 strong, .wrapper.style2 b {
				color: #ffffff;
			}

			.wrapper.style2 h1, .wrapper.style2 h2, .wrapper.style2 h3, .wrapper.style2 h4, .wrapper.style2 h5, .wrapper.style2 h6 {
				color: #ffffff;
			}

			.wrapper.style2 blockquote {
				border-left-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style2 code {
				background: rgba(255, 255, 255, 0.075);
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style2 hr {
				border-bottom-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style2 .box {
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style2 input[type="submit"],
			.wrapper.style2 input[type="reset"],
			.wrapper.style2 input[type="button"],
			.wrapper.style2 button,
			.wrapper.style2 .button {
				background-color: transparent;
				box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
				color: #ffffff !important;
				letter-spacing: 0.05em;
				text-transform: uppercase;
			}

				.wrapper.style2 input[type="submit"]:hover,
				.wrapper.style2 input[type="reset"]:hover,
				.wrapper.style2 input[type="button"]:hover,
				.wrapper.style2 button:hover,
				.wrapper.style2 .button:hover {
					background-color: rgba(255, 255, 255, 0.075);
				}

				.wrapper.style2 input[type="submit"]:active,
				.wrapper.style2 input[type="reset"]:active,
				.wrapper.style2 input[type="button"]:active,
				.wrapper.style2 button:active,
				.wrapper.style2 .button:active {
					background-color: rgba(255, 255, 255, 0.2);
				}

				.wrapper.style2 input[type="submit"].icon:before,
				.wrapper.style2 input[type="reset"].icon:before,
				.wrapper.style2 input[type="button"].icon:before,
				.wrapper.style2 button.icon:before,
				.wrapper.style2 .button.icon:before {
					color: #c7d1f3;
				}

				.wrapper.style2 input[type="submit"].special,
				.wrapper.style2 input[type="reset"].special,
				.wrapper.style2 input[type="button"].special,
				.wrapper.style2 button.special,
				.wrapper.style2 .button.special {
					box-shadow: none;
					background-color: #ffffff;
					color: #758ce1 !important;
				}

					.wrapper.style2 input[type="submit"].special.icon:before,
					.wrapper.style2 input[type="reset"].special.icon:before,
					.wrapper.style2 input[type="button"].special.icon:before,
					.wrapper.style2 button.special.icon:before,
					.wrapper.style2 .button.special.icon:before {
						color: #c7d1f3;
					}

			.wrapper.style2 label {
				color: #ffffff;
			}

			.wrapper.style2 input[type="text"],
			.wrapper.style2 input[type="password"],
			.wrapper.style2 input[type="email"],
			.wrapper.style2 select,
			.wrapper.style2 textarea {
				background: rgba(255, 255, 255, 0.075);
				border-color: rgba(255, 255, 255, 0.25);
			}

				.wrapper.style2 input[type="text"]:focus,
				.wrapper.style2 input[type="password"]:focus,
				.wrapper.style2 input[type="email"]:focus,
				.wrapper.style2 select:focus,
				.wrapper.style2 textarea:focus {
					border-color: #ffffff;
					box-shadow: 0 0 0 1px #ffffff;
				}

			.wrapper.style2 .select-wrapper:before {
				color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style2 input[type="checkbox"] + label,
			.wrapper.style2 input[type="radio"] + label {
				color: #dce2f7;
			}

				.wrapper.style2 input[type="checkbox"] + label:before,
				.wrapper.style2 input[type="radio"] + label:before {
					background: rgba(255, 255, 255, 0.075);
					border-color: rgba(255, 255, 255, 0.25);
				}

			.wrapper.style2 input[type="checkbox"]:checked + label:before,
			.wrapper.style2 input[type="radio"]:checked + label:before {
				background-color: #ffffff;
				border-color: #ffffff;
				color: #758ce1;
			}

			.wrapper.style2 input[type="checkbox"]:focus + label:before,
			.wrapper.style2 input[type="radio"]:focus + label:before {
				border-color: #ffffff;
				box-shadow: 0 0 0 1px #ffffff;
			}

			.wrapper.style2 ::-webkit-input-placeholder {
				color: #c7d1f3 !important;
			}

			.wrapper.style2 :-moz-placeholder {
				color: #c7d1f3 !important;
			}

			.wrapper.style2 ::-moz-placeholder {
				color: #c7d1f3 !important;
			}

			.wrapper.style2 :-ms-input-placeholder {
				color: #c7d1f3 !important;
			}

			.wrapper.style2 .formerize-placeholder {
				color: #c7d1f3 !important;
			}

			.wrapper.style2 ul.alt li {
				border-top-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style2 ul.features li {
				border-top-color: rgba(255, 255, 255, 0.25);
			}

				.wrapper.style2 ul.features li h3:before {
					border-color: rgba(255, 255, 255, 0.25);
				}

				.wrapper.style2 ul.features li h3:before {
					color: #ffffff;
				}

			.wrapper.style2 header p {
				color: #c7d1f3;
			}

			.wrapper.style2 header.major:after {
				background-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style2 table tbody tr {
				border-color: rgba(255, 255, 255, 0.25);
			}

				.wrapper.style2 table tbody tr:nth-child(2n + 1) {
					background-color: rgba(255, 255, 255, 0.075);
				}

			.wrapper.style2 table th {
				color: #ffffff;
			}

			.wrapper.style2 table thead {
				border-bottom-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style2 table tfoot {
				border-top-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style2 table.alt tbody tr td {
				border-color: rgba(255, 255, 255, 0.25);
			}

		.wrapper.style3 {
			background-color: #e286a9;
			color: #f7e0e9;
		}

			.wrapper.style3 input, .wrapper.style3 select, .wrapper.style3 textarea {
				color: #ffffff;
			}

			.wrapper.style3 a {
				color: #ffffff;
			}

			.wrapper.style3 strong, .wrapper.style3 b {
				color: #ffffff;
			}

			.wrapper.style3 h1, .wrapper.style3 h2, .wrapper.style3 h3, .wrapper.style3 h4, .wrapper.style3 h5, .wrapper.style3 h6 {
				color: #ffffff;
			}

			.wrapper.style3 blockquote {
				border-left-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style3 code {
				background: rgba(255, 255, 255, 0.075);
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style3 hr {
				border-bottom-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style3 .box {
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style3 input[type="submit"],
			.wrapper.style3 input[type="reset"],
			.wrapper.style3 input[type="button"],
			.wrapper.style3 button,
			.wrapper.style3 .button {
				background-color: transparent;
				box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
				color: #ffffff !important;
				letter-spacing: 0.05em;
				text-transform: uppercase;
			}

				.wrapper.style3 input[type="submit"]:hover,
				.wrapper.style3 input[type="reset"]:hover,
				.wrapper.style3 input[type="button"]:hover,
				.wrapper.style3 button:hover,
				.wrapper.style3 .button:hover {
					background-color: rgba(255, 255, 255, 0.075);
				}

				.wrapper.style3 input[type="submit"]:active,
				.wrapper.style3 input[type="reset"]:active,
				.wrapper.style3 input[type="button"]:active,
				.wrapper.style3 button:active,
				.wrapper.style3 .button:active {
					background-color: rgba(255, 255, 255, 0.2);
				}

				.wrapper.style3 input[type="submit"].icon:before,
				.wrapper.style3 input[type="reset"].icon:before,
				.wrapper.style3 input[type="button"].icon:before,
				.wrapper.style3 button.icon:before,
				.wrapper.style3 .button.icon:before {
					color: #f3cedc;
				}

				.wrapper.style3 input[type="submit"].special,
				.wrapper.style3 input[type="reset"].special,
				.wrapper.style3 input[type="button"].special,
				.wrapper.style3 button.special,
				.wrapper.style3 .button.special {
					box-shadow: none;
					background-color: #ffffff;
					color: #e286a9 !important;
				}

					.wrapper.style3 input[type="submit"].special.icon:before,
					.wrapper.style3 input[type="reset"].special.icon:before,
					.wrapper.style3 input[type="button"].special.icon:before,
					.wrapper.style3 button.special.icon:before,
					.wrapper.style3 .button.special.icon:before {
						color: #f3cedc;
					}

			.wrapper.style3 label {
				color: #ffffff;
			}

			.wrapper.style3 input[type="text"],
			.wrapper.style3 input[type="password"],
			.wrapper.style3 input[type="email"],
			.wrapper.style3 select,
			.wrapper.style3 textarea {
				background: rgba(255, 255, 255, 0.075);
				border-color: rgba(255, 255, 255, 0.25);
			}

				.wrapper.style3 input[type="text"]:focus,
				.wrapper.style3 input[type="password"]:focus,
				.wrapper.style3 input[type="email"]:focus,
				.wrapper.style3 select:focus,
				.wrapper.style3 textarea:focus {
					border-color: #ffffff;
					box-shadow: 0 0 0 1px #ffffff;
				}

			.wrapper.style3 .select-wrapper:before {
				color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style3 input[type="checkbox"] + label,
			.wrapper.style3 input[type="radio"] + label {
				color: #f7e0e9;
			}

				.wrapper.style3 input[type="checkbox"] + label:before,
				.wrapper.style3 input[type="radio"] + label:before {
					background: rgba(255, 255, 255, 0.075);
					border-color: rgba(255, 255, 255, 0.25);
				}

			.wrapper.style3 input[type="checkbox"]:checked + label:before,
			.wrapper.style3 input[type="radio"]:checked + label:before {
				background-color: #ffffff;
				border-color: #ffffff;
				color: #e286a9;
			}

			.wrapper.style3 input[type="checkbox"]:focus + label:before,
			.wrapper.style3 input[type="radio"]:focus + label:before {
				border-color: #ffffff;
				box-shadow: 0 0 0 1px #ffffff;
			}

			.wrapper.style3 ::-webkit-input-placeholder {
				color: #f3cedc !important;
			}

			.wrapper.style3 :-moz-placeholder {
				color: #f3cedc !important;
			}

			.wrapper.style3 ::-moz-placeholder {
				color: #f3cedc !important;
			}

			.wrapper.style3 :-ms-input-placeholder {
				color: #f3cedc !important;
			}

			.wrapper.style3 .formerize-placeholder {
				color: #f3cedc !important;
			}

			.wrapper.style3 ul.alt li {
				border-top-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style3 ul.features li {
				border-top-color: rgba(255, 255, 255, 0.25);
			}

				.wrapper.style3 ul.features li h3:before {
					border-color: rgba(255, 255, 255, 0.25);
				}

				.wrapper.style3 ul.features li h3:before {
					color: #ffffff;
				}

			.wrapper.style3 header p {
				color: #f3cedc;
			}

			.wrapper.style3 header.major:after {
				background-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style3 table tbody tr {
				border-color: rgba(255, 255, 255, 0.25);
			}

				.wrapper.style3 table tbody tr:nth-child(2n + 1) {
					background-color: rgba(255, 255, 255, 0.075);
				}

			.wrapper.style3 table th {
				color: #ffffff;
			}

			.wrapper.style3 table thead {
				border-bottom-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style3 table tfoot {
				border-top-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style3 table.alt tbody tr td {
				border-color: rgba(255, 255, 255, 0.25);
			}

		.wrapper.style4 {
			background-color: rgba(77, 89, 104, 0.6);
			color: #ffffff;
		}

			.wrapper.style4 input, .wrapper.style4 select, .wrapper.style4 textarea {
				color: #ffffff;
			}

			.wrapper.style4 a {
				color: #ffffff;
			}

			.wrapper.style4 strong, .wrapper.style4 b {
				color: #ffffff;
			}

			.wrapper.style4 h1, .wrapper.style4 h2, .wrapper.style4 h3, .wrapper.style4 h4, .wrapper.style4 h5, .wrapper.style4 h6 {
				color: #ffffff;
			}

			.wrapper.style4 blockquote {
				border-left-color: #ffffff;
			}

			.wrapper.style4 code {
				background: rgba(255, 255, 255, 0.075);
				border-color: #ffffff;
			}

			.wrapper.style4 hr {
				border-bottom-color: #ffffff;
			}

			.wrapper.style4 .box {
				border-color: #ffffff;
			}

			.wrapper.style4 input[type="submit"],
			.wrapper.style4 input[type="reset"],
			.wrapper.style4 input[type="button"],
			.wrapper.style4 button,
			.wrapper.style4 .button {
				background-color: transparent;
				box-shadow: inset 0 0 0 2px #ffffff;
				color: #ffffff !important;
				letter-spacing: 0.05em;
				text-transform: uppercase;
			}

				.wrapper.style4 input[type="submit"]:hover,
				.wrapper.style4 input[type="reset"]:hover,
				.wrapper.style4 input[type="button"]:hover,
				.wrapper.style4 button:hover,
				.wrapper.style4 .button:hover {
					background-color: rgba(255, 255, 255, 0.075);
				}

				.wrapper.style4 input[type="submit"]:active,
				.wrapper.style4 input[type="reset"]:active,
				.wrapper.style4 input[type="button"]:active,
				.wrapper.style4 button:active,
				.wrapper.style4 .button:active {
					background-color: rgba(255, 255, 255, 0.2);
				}

				.wrapper.style4 input[type="submit"].icon:before,
				.wrapper.style4 input[type="reset"].icon:before,
				.wrapper.style4 input[type="button"].icon:before,
				.wrapper.style4 button.icon:before,
				.wrapper.style4 .button.icon:before {
					color: #ffffff;
				}

				.wrapper.style4 input[type="submit"].special,
				.wrapper.style4 input[type="reset"].special,
				.wrapper.style4 input[type="button"].special,
				.wrapper.style4 button.special,
				.wrapper.style4 .button.special {
					box-shadow: none;
					background-color: #ffffff;
					color: rgba(77, 89, 104, 0.6) !important;
				}

					.wrapper.style4 input[type="submit"].special.icon:before,
					.wrapper.style4 input[type="reset"].special.icon:before,
					.wrapper.style4 input[type="button"].special.icon:before,
					.wrapper.style4 button.special.icon:before,
					.wrapper.style4 .button.special.icon:before {
						color: #ffffff;
					}

			.wrapper.style4 label {
				color: #ffffff;
			}

			.wrapper.style4 input[type="text"],
			.wrapper.style4 input[type="password"],
			.wrapper.style4 input[type="email"],
			.wrapper.style4 select,
			.wrapper.style4 textarea {
				background: rgba(255, 255, 255, 0.075);
				border-color: #ffffff;
			}

				.wrapper.style4 input[type="text"]:focus,
				.wrapper.style4 input[type="password"]:focus,
				.wrapper.style4 input[type="email"]:focus,
				.wrapper.style4 select:focus,
				.wrapper.style4 textarea:focus {
					border-color: #ffffff;
					box-shadow: 0 0 0 1px #ffffff;
				}

			.wrapper.style4 .select-wrapper:before {
				color: #ffffff;
			}

			.wrapper.style4 input[type="checkbox"] + label,
			.wrapper.style4 input[type="radio"] + label {
				color: #ffffff;
			}

				.wrapper.style4 input[type="checkbox"] + label:before,
				.wrapper.style4 input[type="radio"] + label:before {
					background: rgba(255, 255, 255, 0.075);
					border-color: #ffffff;
				}

			.wrapper.style4 input[type="checkbox"]:checked + label:before,
			.wrapper.style4 input[type="radio"]:checked + label:before {
				background-color: #ffffff;
				border-color: #ffffff;
				color: rgba(77, 89, 104, 0.6);
			}

			.wrapper.style4 input[type="checkbox"]:focus + label:before,
			.wrapper.style4 input[type="radio"]:focus + label:before {
				border-color: #ffffff;
				box-shadow: 0 0 0 1px #ffffff;
			}

			.wrapper.style4 ::-webkit-input-placeholder {
				color: #ffffff !important;
			}

			.wrapper.style4 :-moz-placeholder {
				color: #ffffff !important;
			}

			.wrapper.style4 ::-moz-placeholder {
				color: #ffffff !important;
			}

			.wrapper.style4 :-ms-input-placeholder {
				color: #ffffff !important;
			}

			.wrapper.style4 .formerize-placeholder {
				color: #ffffff !important;
			}

			.wrapper.style4 ul.alt li {
				border-top-color: #ffffff;
			}

			.wrapper.style4 ul.features li {
				border-top-color: #ffffff;
			}

				.wrapper.style4 ul.features li h3:before {
					border-color: #ffffff;
				}

				.wrapper.style4 ul.features li h3:before {
					color: #ffffff;
				}

			.wrapper.style4 header p {
				color: #ffffff;
			}

			.wrapper.style4 header.major:after {
				background-color: #ffffff;
			}

			.wrapper.style4 table tbody tr {
				border-color: #ffffff;
			}

				.wrapper.style4 table tbody tr:nth-child(2n + 1) {
					background-color: rgba(255, 255, 255, 0.075);
				}

			.wrapper.style4 table th {
				color: #ffffff;
			}

			.wrapper.style4 table thead {
				border-bottom-color: #ffffff;
			}

			.wrapper.style4 table tfoot {
				border-top-color: #ffffff;
			}

			.wrapper.style4 table.alt tbody tr td {
				border-color: #ffffff;
			}

		.wrapper.cta {
			background-position: center center;
			background-size: auto, auto, cover, cover;
			background-attachment: fixed, fixed, fixed, fixed;
			background-repeat: repeat, repeat, no-repeat, no-repeat;
			background-color: #5eb6e4;
			color: #333;
		}

			.wrapper.cta input, .wrapper.cta select, .wrapper.cta textarea {
				color: #ffffff;
			}

			.wrapper.cta a {
				color: #333;
			}

			.wrapper.cta strong, .wrapper.cta b {
				color: #333;
			}

			.wrapper.cta h1, .wrapper.cta h2, .wrapper.cta h3, .wrapper.cta h4, .wrapper.cta h5, .wrapper.cta h6 {
				color: #333;
			}

			.wrapper.cta blockquote {
				border-left-color: #ffffff;
			}

			.wrapper.cta code {
				background: rgba(255, 255, 255, 0.075);
				border-color: #ffffff;
			}

			.wrapper.cta hr {
				border-bottom-color: #ffffff;
			}

			.wrapper.cta input[type="submit"],
			.wrapper.cta input[type="reset"],
			.wrapper.cta input[type="button"],
			.wrapper.cta button,
			.wrapper.cta .button {
				background-color: transparent;
				box-shadow: inset 0 0 0 2px #333;
				color: #333 !important;
				letter-spacing: 0.05em;
				text-transform: uppercase;
			}

				.wrapper.cta input[type="submit"]:hover,
				.wrapper.cta input[type="reset"]:hover,
				.wrapper.cta input[type="button"]:hover,
				.wrapper.cta button:hover,
				.wrapper.cta .button:hover {
					background-color: rgba(255, 255, 255, 0.075);
				}

				.wrapper.cta input[type="submit"]:active,
				.wrapper.cta input[type="reset"]:active,
				.wrapper.cta input[type="button"]:active,
				.wrapper.cta button:active,
				.wrapper.cta .button:active {
					background-color: rgba(255, 255, 255, 0.2);
				}

				.wrapper.cta input[type="submit"].icon:before,
				.wrapper.cta input[type="reset"].icon:before,
				.wrapper.cta input[type="button"].icon:before,
				.wrapper.cta button.icon:before,
				.wrapper.cta .button.icon:before {
					color: #ffffff;
				}

				.wrapper.cta input[type="submit"].special,
				.wrapper.cta input[type="reset"].special,
				.wrapper.cta input[type="button"].special,
				.wrapper.cta button.special,
				.wrapper.cta .button.special {
					box-shadow: none;
					background-color: #ffffff;
					color: rgba(77, 89, 104, 0.6) !important;
				}

					.wrapper.cta input[type="submit"].special.icon:before,
					.wrapper.cta input[type="reset"].special.icon:before,
					.wrapper.cta input[type="button"].special.icon:before,
					.wrapper.cta button.special.icon:before,
					.wrapper.cta .button.special.icon:before {
						color: #ffffff;
					}

			.wrapper.cta > .inner {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
			}

				.wrapper.cta > .inner > * {
					padding-left: 1.5em;
					-ms-flex: auto;
					width: 50%;
				}

				.wrapper.cta > .inner > :first-child {
					padding-left: 0;
					width: 50%;
				}

			body.is-mobile .wrapper.cta {
				background-attachment: scroll;
			}

			@media screen and (max-width: 980px) {

				.wrapper.cta > .inner > * {
					width: 100% !important;
					padding-left: 0 !important;
				}

			}

		.wrapper.sidebar > .inner {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
		}

			.wrapper.sidebar > .inner > header {
				width: 100%;
			}

			.wrapper.sidebar > .inner > .content {
				width: 100%;
				/* padding: 0 4em 0 0; */
			}

			.wrapper.sidebar > .inner > .sidebar {
				width: 25%;
			}

		.wrapper.sidebar.left > .inner {
			-moz-flex-direction: row-reverse;
			-webkit-flex-direction: row-reverse;
			-ms-flex-direction: row-reverse;
			flex-direction: row-reverse;
		}

			.wrapper.sidebar.left > .inner > .content {
				/* padding: 0 0 0 4em; */
			}

		@media screen and (max-width: 980px) {

			.wrapper.sidebar > .inner {
				-moz-flex-direction: row;
				-webkit-flex-direction: row;
				-ms-flex-direction: row;
				flex-direction: row;
			}

				.wrapper.sidebar > .inner > .content {
					width: 100%;
					padding: 0;
				}

				.wrapper.sidebar > .inner > .sidebar {
					border-top: solid 2px rgba(144, 144, 144, 0.25);
					margin: 2em 0 0 0;
					padding: 4em 0 0 0;
					width: 100%;
				}

			.wrapper.sidebar.style1 > .inner > .sidebar {
				border-top-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.sidebar.style2 > .inner > .sidebar {
				border-top-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.sidebar.style3 > .inner > .sidebar {
				border-top-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.sidebar.style4 > .inner > .sidebar {
				border-top-color: #ffffff;
			}

		}

		@media screen and (max-width: 1280px) {

			.wrapper {
				padding: 0em 3em 3em 3em ;
			}

				.wrapper > .inner {
					width: 100%;
				}

		}

		@media screen and (max-width: 980px) {

			.wrapper > .inner {
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
			}

				.wrapper > .inner > * {
					padding-left: 0 !important;
					width: 100%;
				}

		}

		@media screen and (max-width: 736px) {

			.wrapper {
				padding: 2.5em 2em 0.5em 2em ;
			}

		}

		@media screen and (max-width: 480px) {

			.wrapper {
				padding: 2.5em 1.5em 0.5em 1.5em ;
			}

		}

/* Header */

	body {
		padding-top: 3.5em;
	}

		body.landing {
			padding-top: 0;
		}

	@-moz-keyframes reveal-header {
		0% {
			top: -4em;
			opacity: 0;
		}

		100% {
			top: 0;
			opacity: 1;
		}
	}

	@-webkit-keyframes reveal-header {
		0% {
			top: -4em;
			opacity: 0;
		}

		100% {
			top: 0;
			opacity: 1;
		}
	}

	@-ms-keyframes reveal-header {
		0% {
			top: -4em;
			opacity: 0;
		}

		100% {
			top: 0;
			opacity: 1;
		}
	}

	@keyframes reveal-header {
		0% {
			top: -4em;
			opacity: 0;
		}

		100% {
			top: 0;
			opacity: 1;
		}
	}

	#header {
		background: transparent;
		color: #ffffff;
		left: 0;
		line-height: 22px;
		position: relative;
		z-index: 100;
  }

  .landing #header {
    position: absolute;
  }

		#header a {
			color: inherit;
			text-decoration: none;
		}

		#header h1 {
			text-decoration: none;
			color: #ffffff;
			display: inline-block;
			height: inherit;
			line-height: inherit;
			margin-left: 1.5em;
			margin-top: 2em;
		}

			#header h1:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			#header h1 a {
				display: inline-block;
				font-size: 0.9em;
				height: inherit;
				line-height: inherit;
			}

			#header h1:before {
				background: #ffffff;
				border-radius: 100%;
				color: #EE0000;
				content: url('../images/logo.png');
				display: inline-block;
				font-size: 1em;
				height: 2em;
				line-height: 2em;
				margin-left: -0.5em;
				margin-right: 0.5em;
				text-align: center;
				width: 0em;
				margin-top: 2em;
			}

			.partnerbanner {
			background-image: url("../images/overlay.png"), -moz-linear-gradient(45deg, rgba(255, 224, 0, 0.65), rgba(0, 0, 0, 0.85)), url("../images/banner-photo copy.jpg") !important;
			background-image: url("../images/overlay.png"), -webkit-linear-gradient(45deg, rgba(255, 224, 0, 0.65), rgba(0, 0, 0, 0.85)), url("../images/banner-photo copy.jpg") !important;
			background-image: url("../images/overlay.png"), -ms-linear-gradient(45deg, rgba(255, 224, 0, 0.65), rgba(0, 0, 0, 0.85)), url("../images/banner-photo copy.jpg") !important;
			background-image: url("../images/overlay.png"), linear-gradient(45deg, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.85)), url("../images/banner-photo copy.jpg") !important;

			}


		#header nav {
			height: inherit;
			/* margin-right: 1.5em; */
			position: fixed;
			/* right: 0; */
      top: 0;
      background-color: black;
      width: 100%;
      padding-right: 20px;
    }

    body.admin-menu #header nav {
      margin-top: 20px;
    }

			#header nav ul {
				list-style: none;
				margin: 0;
        padding: 0;
        line-height: 21px;
        float: right;
			}

				#header nav ul li {
					display: inline-block;
					margin-left: 1.5em;
				}

					#header nav ul li a {
						font-weight: 700;
						letter-spacing: 0.05em;
						text-transform: uppercase;
            font-size: 0.9em;
            padding: 10px 5px;
					}

						#header nav ul li a.submenu {
							text-decoration: none;
						}

							#header nav ul li a.submenu:before {
								-moz-osx-font-smoothing: grayscale;
								-webkit-font-smoothing: antialiased;
								font-family: FontAwesome;
								font-style: normal;
								font-weight: normal;
								text-transform: none !important;
							}

							#header nav ul li a.submenu:before {
								content: '\f107';
								margin-right: 0.75em;
							}

					#header nav ul li > ul {
						display: none;
					}

					#header nav ul li:first-child {
						margin-left: 0;
					}

		#header .navPanelToggle {
			text-decoration: none;
			height: 4em;
			position: absolute;
			right: 0;
			top: 0;
			width: 5em;
			display: none;
		}

			#header .navPanelToggle:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			#header .navPanelToggle:before {
				content: '\f0c9';
				width: 3em;
				height: 3em;
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				text-align: center;
			}

		#header.reveal {
			-moz-animation: reveal-header 0.5s ease;
			-webkit-animation: reveal-header 0.5s ease;
			-ms-animation: reveal-header 0.5s ease;
			animation: reveal-header 0.5s ease;
		}

		#header.alt {
			-moz-animation: none;
			-webkit-animation: none;
			-ms-animation: none;
			animation: none;
			background: transparent;
      position: absolute;
      margin-top: 4rem;
		}

			#header.alt nav {
				margin-right: 2.5em;
			}

	.dropotron {
		list-style: none;
		padding: 0;
		background: #2F373F;
		color: #ffffff;
		min-width: 12em;
		border-radius: 5px;
		padding: 1em;
		margin-top: -0.5em;
	}

		.dropotron li {
			box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.075);
		}

			.dropotron li:first-child {
				box-shadow: none;
			}

		.dropotron a {
			color: inherit;
			text-decoration: none;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			font-size: 0.8em;
			display: block;
			line-height: 3em;
		}

		.dropotron.level-0 {
			margin-top: -0.5em;
		}

			.dropotron.level-0:before {
				content: '';
				border-left: solid 0.5em transparent;
				border-right: solid 0.5em transparent;
				border-bottom: solid 0.5em #2F373F;
				display: block;
				position: absolute;
				top: -0.45em;
				left: 50%;
				margin-left: -0.25em;
			}

	@media screen and (max-width: 980px) {

		body {
			padding-top: 3em;
		}

		#header {
			height: 3em;
			line-height: 2.95em;
		}

			#header h1:before {
				font-size: 0.8em;
			}

		.dropotron {
			min-width: 11em;
			padding: 0.5em;
		}

	}

	@media screen and (max-width: 736px) {

		#header {
			height: 3em !important;
			line-height: 2.95em !important;
		}

			#header h1 {
				margin-left: 1.25em !important;
			}

			#header nav {
				display: none;
			}

			#header .navPanelToggle {
				display: block;
			}

	}

/* Banner */

	#banner {
		background-image: url("../images/overlay.png"), -moz-linear-gradient(45deg, rgba(255, 224, 0, 0.65), rgba(0, 0, 0, 0)), url("../images/banner-photo.jpg");
		background-image: url("../images/overlay.png"), -webkit-linear-gradient(45deg, rgba(255, 224, 0, 0.65), rgba(0, 0, 0, 0)), url("../images/banner-photo.jpg");
		background-image: url("../images/overlay.png"), -ms-linear-gradient(45deg, rgba(255, 224, 0, 0.65), rgba(0, 0, 0, 0)), url("../images/banner-photo.jpg");
		background-image: url("../images/overlay.png"), linear-gradient(45deg, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0)), url("../images/banner-photo.jpg");
		background-position: center center;
		background-size: auto, cover, cover;
		background-attachment: fixed, fixed, fixed;
		background-repeat: repeat, no-repeat, no-repeat;
		position: relative;
		min-height: 70vh;
		height: 35em;
	}

		#banner .content {
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: rgba(21, 27, 33, 0.6);
			color: #ffffff;
			padding: 3.5em 0 2em 0 ;
			width: 100%;
		}

			#banner .content input, #banner .content select, #banner .content textarea {
				color: #ffffff;
			}

			#banner .content a {
				color: #ffffff;
			}

			#banner .content strong, #banner .content b {
				color: #ffffff;
			}

			#banner .content h1, #banner .content h2, #banner .content h3, #banner .content h4, #banner .content h5, #banner .content h6 {
				color: #ffffff;
			}

			#banner .content blockquote {
				border-left-color: #ffffff;
			}

			#banner .content code {
				background: rgba(255, 255, 255, 0.075);
				border-color: #ffffff;
			}

			#banner .content hr {
				border-bottom-color: #ffffff;
			}

			#banner .content input[type="submit"],
			#banner .content input[type="reset"],
			#banner .content input[type="button"],
			#banner .content button,
			#banner .content .button {
				background-color: transparent;
				box-shadow: inset 0 0 0 2px #ffffff;
				color: #ffffff !important;
				letter-spacing: 0.05em;
				text-transform: uppercase;
			}

				#banner .content input[type="submit"]:hover,
				#banner .content input[type="reset"]:hover,
				#banner .content input[type="button"]:hover,
				#banner .content button:hover,
				#banner .content .button:hover {
					background-color: rgba(255, 255, 255, 0.075);
				}

				#banner .content input[type="submit"]:active,
				#banner .content input[type="reset"]:active,
				#banner .content input[type="button"]:active,
				#banner .content button:active,
				#banner .content .button:active {
					background-color: rgba(255, 255, 255, 0.2);
				}

				#banner .content input[type="submit"].icon:before,
				#banner .content input[type="reset"].icon:before,
				#banner .content input[type="button"].icon:before,
				#banner .content button.icon:before,
				#banner .content .button.icon:before {
					color: #ffffff;
				}

				#banner .content input[type="submit"].special,
				#banner .content input[type="reset"].special,
				#banner .content input[type="button"].special,
				#banner .content button.special,
				#banner .content .button.special {
					box-shadow: none;
					background-color: #ffffff;
					color: rgba(77, 89, 104, 1.0) !important;
				}

					#banner .content input[type="submit"].special.icon:before,
					#banner .content input[type="reset"].special.icon:before,
					#banner .content input[type="button"].special.icon:before,
					#banner .content button.special.icon:before,
					#banner .content .button.special.icon:before {
						color: #ffffff;
					}

			#banner .content header p {
				color: #ffffff;
			}

			#banner .content header.major:after {
				background-color: #ffffff;
			}

			#banner .content > .inner {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-align-items: center;
				-webkit-align-items: center;
				-ms-align-items: center;
				align-items: center;
				margin: 0 auto;
				width: 70em;
			}

				#banner .content > .inner header {
					width: 75%;
				}

				#banner .content > .inner .actions {
					padding-left: 1em 0 1em 3em;
                                        margin-left: 4em;
					text-align: right;
                                        border-left: 1px solid #FFF;
				}

		body.is-mobile #banner {
			background-attachment: scroll;
		}

		@media screen and (max-width: 1280px) {

			#banner {
				min-height: 0;
			}

				#banner .content {
					padding: 4em 3em 2em 3em ;
				}

					#banner .content > .inner {
						width: 100%;
					}

		}

	@media screen and (max-width: 980px) and (orientation: landscape) {

		#banner {
			height: 30em;
		}

	}

	@media screen and (max-width: 980px) and (orientation: portrait) {

		#banner {
			height: 50em;
		}

	}

		@media screen and (max-width: 980px) {

			#banner .content > .inner {
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
			}

				#banner .content > .inner header {
					width: 100%;
				}

				#banner .content > .inner .actions {
					width: 100%;
					padding-left: 0;
					text-align: left;
				}

		}

	@media screen and (max-width: 736px) and (orientation: landscape) {

		#banner {
			height: 25em;
		}

	}

	@media screen and (max-width: 736px) and (orientation: portrait) {

		#banner {
			height: 30em;
		}

	}

		@media screen and (max-width: 736px) {

			#banner .content {
				padding: 2.5em 2em 0.5em 2em ;
			}

		}

		@media screen and (max-width: 480px) {

			#banner .content {
				padding: 2.5em 1.5em 0.5em 1.5em ;
			}

		}

/* Footer */

	#footer {
		background-image: url("../images/overlay.png"), -moz-linear-gradient(45deg, rgba(255, 224, 0, 0.95), rgba(40, 40, 40, 0.45)), url("../images/banner.jpg");
		background-image: url("../images/overlay.png"), -webkit-linear-gradient(45deg, rgba(255, 224, 0, 0.95), rgba(40, 40, 40, 0.45)), url("../images/banner.jpg");
		background-image: url("../images/overlay.png"), -ms-linear-gradient(45deg, rgba(255, 224, 0, 0.95), rgba(40, 40, 40, 0.45)), url("../images/banner.jpg");
		background-image: url("../images/overlay.png"), linear-gradient(45deg, rgba(0, 196, 255, 0.95), rgba(40, 40, 40, 0.45)), url("../images/banner.jpg");
		background-position: center center;
		background-size: auto, cover, cover;
		background-attachment: fixed, fixed, fixed;
		background-repeat: repeat, no-repeat, no-repeat;
		/* background-color: rgba(77, 89, 104, 0.6); */
		color: #ffffff;
	        margin-top: 100px;
        }

		#footer input, #footer select, #footer textarea {
			color: #ffffff;
		}

		#footer a {
			color: #ffffff;
		}

		#footer strong, #footer b {
			color: #ffffff;
		}

		#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
			color: #ffffff;
		}

		#footer blockquote {
			border-left-color: #ffffff;
		}

		#footer code {
			background: rgba(255, 255, 255, 0.075);
			border-color: #ffffff;
		}

		#footer hr {
			border-bottom-color: #ffffff;
		}

		#footer input[type="submit"],
		#footer input[type="reset"],
		#footer input[type="button"],
		#footer button,
		#footer .button {
			background-color: transparent;
			box-shadow: inset 0 0 0 2px #ffffff;
			color: #ffffff !important;
			letter-spacing: 0.05em;
			text-transform: uppercase;
		}

			#footer input[type="submit"]:hover,
			#footer input[type="reset"]:hover,
			#footer input[type="button"]:hover,
			#footer button:hover,
			#footer .button:hover {
				background-color: rgba(255, 255, 255, 0.075);
			}

			#footer input[type="submit"]:active,
			#footer input[type="reset"]:active,
			#footer input[type="button"]:active,
			#footer button:active,
			#footer .button:active {
				background-color: rgba(255, 255, 255, 0.2);
			}

			#footer input[type="submit"].icon:before,
			#footer input[type="reset"].icon:before,
			#footer input[type="button"].icon:before,
			#footer button.icon:before,
			#footer .button.icon:before {
				color: #ffffff;
			}

			#footer input[type="submit"].special,
			#footer input[type="reset"].special,
			#footer input[type="button"].special,
			#footer button.special,
			#footer .button.special {
				box-shadow: none;
				background-color: #ffffff;
				color: rgba(77, 89, 104, 0.6) !important;
			}

				#footer input[type="submit"].special.icon:before,
				#footer input[type="reset"].special.icon:before,
				#footer input[type="button"].special.icon:before,
				#footer button.special.icon:before,
				#footer .button.special.icon:before {
					color: #ffffff;
				}

		#footer header p {
			color: #ffffff;
		}

		#footer header.major:after {
			background-color: #ffffff;
		}

		#footer .content {
			padding: 6.5em 0 4.5em 0 ;
		}

			#footer .content > .inner {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				margin: 0 auto;
				width: 70em;
			}

				#footer .content > .inner > * {
					padding-left: 3em;
					width: 25%;
				}

				#footer .content > .inner .about {
					padding-left: 0;
					width: 50%;
				}

			@media screen and (max-width: 1280px) {

				#footer .content {
					padding: 5em 3em 3em 3em ;
				}

					#footer .content > .inner {
						width: 100%;
					}

						#footer .content > .inner > * {
							width: 30%;
						}

						#footer .content > .inner .about {
							width: 40%;
						}

			}

			@media screen and (max-width: 980px) {

				#footer .content > .inner {
					-moz-flex-wrap: wrap;
					-webkit-flex-wrap: wrap;
					-ms-flex-wrap: wrap;
					flex-wrap: wrap;
				}

					#footer .content > .inner > * {
						width: 50%;
						padding-left: 0;
					}

					#footer .content > .inner .about {
						width: 100%;
						margin: 0 0 2em 0;
					}

			}

			@media screen and (max-width: 736px) {

				#footer .content {
					padding: 2.5em 2em 0.5em 2em ;
				}

			}

			@media screen and (max-width: 480px) {

				#footer .content {
					padding: 2.5em 1.5em 0.5em 1.5em ;
				}

					#footer .content > .inner > * {
						width: 100%;
					}

			}

		#footer .copyright {
			font-size: 0.8em;
			margin: 0;
			padding: 8em 0;
			text-align: center;
		}

			#footer .copyright br {
				display: none;
			}

			#footer .copyright a {
				color: inherit;
			}

			@media screen and (max-width: 1280px) {

				#footer .copyright {
					padding: 6em 0;
				}

			}

			@media screen and (max-width: 736px) {

				#footer .copyright {
					padding: 4em 0;
				}

			}

			@media screen and (max-width: 480px) {

				#footer .copyright br {
					display: block;
				}

			}

		body.is-mobile #footer {
			background-attachment: scroll;
		}

/* Navigation Panel */

	#navPanel {
		background-color: rgba(77, 89, 104, 0.6);
		color: #ffffff;
		-moz-transform: translateX(20em);
		-webkit-transform: translateX(20em);
		-ms-transform: translateX(20em);
		transform: translateX(20em);
		-moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-webkit-overflow-scrolling: touch;
		background-color: #2F373F;
		box-shadow: none;
		display: none;
		height: 100%;
		max-width: 80%;
		overflow-y: auto;
		position: fixed;
		right: 0;
		top: 0;
		visibility: hidden;
		width: 20em;
		z-index: 102;
	}

		#navPanel input, #navPanel select, #navPanel textarea {
			color: #ffffff;
		}

		#navPanel a {
			color: #ffffff;
		}

		#navPanel strong, #navPanel b {
			color: #ffffff;
		}

		#navPanel h1, #navPanel h2, #navPanel h3, #navPanel h4, #navPanel h5, #navPanel h6 {
			color: #ffffff;
		}

		#navPanel blockquote {
			border-left-color: #ffffff;
		}

		#navPanel code {
			background: rgba(255, 255, 255, 0.075);
			border-color: #ffffff;
		}

		#navPanel hr {
			border-bottom-color: #ffffff;
		}

		#navPanel nav {
			padding: 3em 2em;
		}

		#navPanel .link {
			border: 0;
			border-top: solid 1px rgba(255, 255, 255, 0.075);
			color: inherit !important;
			display: block;
			font-size: 0.8em;
			letter-spacing: 0.05em;
			padding: 0.75em 0;
			text-decoration: none;
			text-transform: uppercase;
		}

			#navPanel .link:first-child {
				border-top: 0;
			}

			#navPanel .link.depth-0 {
				font-weight: 700;
				color: inherit !important;
			}

			#navPanel .link .indent-1 {
				display: inline-block;
				width: 1.25em;
			}

			#navPanel .link .indent-2 {
				display: inline-block;
				width: 2.5em;
			}

			#navPanel .link .indent-3 {
				display: inline-block;
				width: 3.75em;
			}

			#navPanel .link .indent-4 {
				display: inline-block;
				width: 5em;
			}

			#navPanel .link .indent-5 {
				display: inline-block;
				width: 6.25em;
			}

		#navPanel .close {
			text-decoration: none;
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			-webkit-tap-highlight-color: transparent;
			border: 0;
			color: #ffffff;
			cursor: pointer;
			display: block;
			height: 4em;
			padding-right: 1.25em;
			position: absolute;
			right: 0;
			text-align: right;
			top: 0;
			vertical-align: middle;
			width: 5em;
		}

			#navPanel .close:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			#navPanel .close:before {
				content: '\f00d';
				width: 3em;
				height: 3em;
				line-height: 3em;
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				text-align: center;
			}

			#navPanel .close:hover {
				color: inherit;
			}

			@media screen and (max-width: 736px) {

				#navPanel .close {
					height: 4em;
					line-height: 4em;
				}

			}

		#navPanel.visible {
			-moz-transform: translateX(0);
			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
			box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
			visibility: visible;
		}

		.nav>li>a:hover, .nav>li>a:focus {
			background: none;
		}


        .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
             background: none;

         }

         .dropdown-menu>li>a{
         	      color: inherit;
         }
		@media screen and (max-width: 736px) {

			#navPanel {
				display: block;
			}

				#navPanel nav {
					padding: 2.25em 1.25em;
				}

		}
        button.btn.btn-danger {
    background-color: #B22222;
}

a.btn.link-success {
   color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    text-decoration: none;
}

a.btn.link-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    text-decoration: none;
}
