@import url(font-awesome.min.css);

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,700,300");

/*
	Archetype by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.prettyprint ol.linenums > li {
  list-style-type: decimal !important;
}

.node-teaser .method_details .title-description, .view .method_details .title-description {
  max-width: 400px !important;
}

.node-teaser .method_details .title p.resource_path, .view .method_details .title p.resource_path {
  padding-top: 10px !important;
}

#breadcrumb-navbar .col-md-12 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.smartdocs-wrapper .col-sm-3 {
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 23% !important;
  margin-left: 2% !important;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: '';
    content: none;
  }
}

q {
  &:before, &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* Box Model */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &:before, &:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

/* Grid */

.row {
  border-bottom: solid 1px transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  > * {
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  &:after, &:before {
    content: '';
    display: block;
    clear: both;
    height: 0;
  }
  &.uniform > * > {
    :first-child {
      margin-top: 0;
    }
    :last-child {
      margin-bottom: 0;
    }
  }
  &.\30 \25 {
    > * {
      padding: 0 0 0 0em;
    }
    margin: 0 0 -1px 0em;
  }
  &.uniform {
    &.\30 \25 {
      > * {
        padding: 0em 0 0 0em;
      }
      margin: 0em 0 -1px 0em;
    }
    > * {
      /* padding: 2em 0 0 2em; */
    }
    /* margin: -2em 0 -1px -2em; */
  }
  > * {
    /* padding: 0 0 0 2em; */
  }
  /* margin: 0 0 -1px -2em; */
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#method_content {
  padding: 0px !important;
}

.breadcrumb {
  margin-bottom: 50px !important;
}

.row {
  &.\32 00\25 {
    > * {
      padding: 0 0 0 4em;
    }
    margin: 0 0 -1px -4em;
  }
  &.uniform.\32 00\25 {
    > * {
      padding: 4em 0 0 4em;
    }
    margin: -4em 0 -1px -4em;
  }
  &.\31 50\25 {
    > * {
      padding: 0 0 0 3em;
    }
    margin: 0 0 -1px -3em;
  }
  &.uniform.\31 50\25 {
    > * {
      padding: 3em 0 0 3em;
    }
    margin: -3em 0 -1px -3em;
  }
  &.\35 0\25 {
    > * {
      padding: 0 0 0 1em;
    }
    margin: 0 0 -1px -1em;
  }
  &.uniform.\35 0\25 {
    > * {
      padding: 1em 0 0 1em;
    }
    margin: -1em 0 -1px -1em;
  }
  &.\32 5\25 {
    > * {
      padding: 0 0 0 0.5em;
    }
    margin: 0 0 -1px -0.5em;
  }
  &.uniform.\32 5\25 {
    > * {
      padding: 0.5em 0 0 0.5em;
    }
    margin: -0.5em 0 -1px -0.5em;
  }
}

.\31 2u, .\31 2u\24 {
  width: 100%;
  clear: none;
  margin-left: 0;
}

.\31 1u, .\31 1u\24 {
  width: 91.6666666667%;
  clear: none;
  margin-left: 0;
}

.\31 0u, .\31 0u\24 {
  width: 83.3333333333%;
  clear: none;
  margin-left: 0;
}

.\39 u, .\39 u\24 {
  width: 75%;
  clear: none;
  margin-left: 0;
}

.\38 u, .\38 u\24 {
  width: 66.6666666667%;
  clear: none;
  margin-left: 0;
}

.\37 u, .\37 u\24 {
  width: 58.3333333333%;
  clear: none;
  margin-left: 0;
}

.\36 u, .\36 u\24 {
  width: 50%;
  clear: none;
  margin-left: 0;
}

.\35 u, .\35 u\24 {
  width: 41.6666666667%;
  clear: none;
  margin-left: 0;
}

.\34 u, .\34 u\24 {
  width: 33.3333333333%;
  clear: none;
  margin-left: 0;
}

.\33 u, .\33 u\24 {
  width: 25%;
  clear: none;
  margin-left: 0;
}

.\32 u, .\32 u\24 {
  width: 16.6666666667%;
  clear: none;
  margin-left: 0;
}

.\31 u, .\31 u\24 {
  width: 8.3333333333%;
  clear: none;
  margin-left: 0;
}

.\31 2u\24  + *, .\31 1u\24  + *, .\31 0u\24  + *, .\39 u\24  + *, .\38 u\24  + *, .\37 u\24  + *, .\36 u\24  + *, .\35 u\24  + *, .\34 u\24  + *, .\33 u\24  + *, .\32 u\24  + *, .\31 u\24  + * {
  clear: left;
}

.\-11u {
  margin-left: 91.66667%;
}

.\-10u {
  margin-left: 83.33333%;
}

.\-9u {
  margin-left: 75%;
}

.\-8u {
  margin-left: 66.66667%;
}

.\-7u {
  margin-left: 58.33333%;
}

.\-6u {
  margin-left: 50%;
}

.\-5u {
  margin-left: 41.66667%;
}

.\-4u {
  margin-left: 33.33333%;
}

.\-3u {
  margin-left: 25%;
}

.\-2u {
  margin-left: 16.66667%;
}

.\-1u {
  margin-left: 8.33333%;
}

@media screen and (max-width: 1680px) {
  .row {
    > * {
      padding: 0 0 0 2em;
    }
    margin: 0 0 -1px -2em;
    &.uniform {
      > * {
        padding: 2em 0 0 2em;
      }
      margin: -2em 0 -1px -2em;
    }
    &.\32 00\25  > * {
      padding: 0 0 0 4em;
    }
    &.\32 00\25 {
      margin: 0 0 -1px -4em;
    }
    &.uniform {
      &.\32 00\25  > * {
        padding: 4em 0 0 4em;
      }
      &.\32 00\25 {
        margin: -4em 0 -1px -4em;
      }
    }
    &.\31 50\25  > * {
      padding: 0 0 0 3em;
    }
    &.\31 50\25 {
      margin: 0 0 -1px -3em;
    }
    &.uniform {
      &.\31 50\25  > * {
        padding: 3em 0 0 3em;
      }
      &.\31 50\25 {
        margin: -3em 0 -1px -3em;
      }
    }
    &.\35 0\25  > * {
      padding: 0 0 0 1em;
    }
    &.\35 0\25 {
      margin: 0 0 -1px -1em;
    }
    &.uniform {
      &.\35 0\25  > * {
        padding: 1em 0 0 1em;
      }
      &.\35 0\25 {
        margin: -1em 0 -1px -1em;
      }
    }
    &.\32 5\25  > * {
      padding: 0 0 0 0.5em;
    }
    &.\32 5\25 {
      margin: 0 0 -1px -0.5em;
    }
    &.uniform {
      &.\32 5\25  > * {
        padding: 0.5em 0 0 0.5em;
      }
      &.\32 5\25 {
        margin: -0.5em 0 -1px -0.5em;
      }
    }
  }
  .\31 2u\28xlarge\29, .\31 2u\24\28xlarge\29 {
    width: 100%;
    clear: none;
    margin-left: 0;
  }
  .\31 1u\28xlarge\29, .\31 1u\24\28xlarge\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 0u\28xlarge\29, .\31 0u\24\28xlarge\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\39 u\28xlarge\29, .\39 u\24\28xlarge\29 {
    width: 75%;
    clear: none;
    margin-left: 0;
  }
  .\38 u\28xlarge\29, .\38 u\24\28xlarge\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\37 u\28xlarge\29, .\37 u\24\28xlarge\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\36 u\28xlarge\29, .\36 u\24\28xlarge\29 {
    width: 50%;
    clear: none;
    margin-left: 0;
  }
  .\35 u\28xlarge\29, .\35 u\24\28xlarge\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\34 u\28xlarge\29, .\34 u\24\28xlarge\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\33 u\28xlarge\29, .\33 u\24\28xlarge\29 {
    width: 25%;
    clear: none;
    margin-left: 0;
  }
  .\32 u\28xlarge\29, .\32 u\24\28xlarge\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 u\28xlarge\29, .\31 u\24\28xlarge\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\31 2u\24\28xlarge\29  + *, .\31 1u\24\28xlarge\29  + *, .\31 0u\24\28xlarge\29  + *, .\39 u\24\28xlarge\29  + *, .\38 u\24\28xlarge\29  + *, .\37 u\24\28xlarge\29  + *, .\36 u\24\28xlarge\29  + *, .\35 u\24\28xlarge\29  + *, .\34 u\24\28xlarge\29  + *, .\33 u\24\28xlarge\29  + *, .\32 u\24\28xlarge\29  + *, .\31 u\24\28xlarge\29  + * {
    clear: left;
  }
  .\-11u\28xlarge\29 {
    margin-left: 91.66667%;
  }
  .\-10u\28xlarge\29 {
    margin-left: 83.33333%;
  }
  .\-9u\28xlarge\29 {
    margin-left: 75%;
  }
  .\-8u\28xlarge\29 {
    margin-left: 66.66667%;
  }
  .\-7u\28xlarge\29 {
    margin-left: 58.33333%;
  }
  .\-6u\28xlarge\29 {
    margin-left: 50%;
  }
  .\-5u\28xlarge\29 {
    margin-left: 41.66667%;
  }
  .\-4u\28xlarge\29 {
    margin-left: 33.33333%;
  }
  .\-3u\28xlarge\29 {
    margin-left: 25%;
  }
  .\-2u\28xlarge\29 {
    margin-left: 16.66667%;
  }
  .\-1u\28xlarge\29 {
    margin-left: 8.33333%;
  }
}

@media screen and (max-width: 1280px) {
  .row {
    > * {
      padding: 0 0 0 2em;
    }
    margin: 0 0 -1px -2em;
    &.uniform {
      > * {
        padding: 2em 0 0 2em;
      }
      margin: -2em 0 -1px -2em;
    }
    &.\32 00\25  > * {
      padding: 0 0 0 4em;
    }
    &.\32 00\25 {
      margin: 0 0 -1px -4em;
    }
    &.uniform {
      &.\32 00\25  > * {
        padding: 4em 0 0 4em;
      }
      &.\32 00\25 {
        margin: -4em 0 -1px -4em;
      }
    }
    &.\31 50\25  > * {
      padding: 0 0 0 3em;
    }
    &.\31 50\25 {
      margin: 0 0 -1px -3em;
    }
    &.uniform {
      &.\31 50\25  > * {
        padding: 3em 0 0 3em;
      }
      &.\31 50\25 {
        margin: -3em 0 -1px -3em;
      }
    }
    &.\35 0\25  > * {
      padding: 0 0 0 1em;
    }
    &.\35 0\25 {
      margin: 0 0 -1px -1em;
    }
    &.uniform {
      &.\35 0\25  > * {
        padding: 1em 0 0 1em;
      }
      &.\35 0\25 {
        margin: -1em 0 -1px -1em;
      }
    }
    &.\32 5\25  > * {
      padding: 0 0 0 0.5em;
    }
    &.\32 5\25 {
      margin: 0 0 -1px -0.5em;
    }
    &.uniform {
      &.\32 5\25  > * {
        padding: 0.5em 0 0 0.5em;
      }
      &.\32 5\25 {
        margin: -0.5em 0 -1px -0.5em;
      }
    }
  }
  .\31 2u\28large\29, .\31 2u\24\28large\29 {
    width: 100%;
    clear: none;
    margin-left: 0;
  }
  .\31 1u\28large\29, .\31 1u\24\28large\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 0u\28large\29, .\31 0u\24\28large\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\39 u\28large\29, .\39 u\24\28large\29 {
    width: 75%;
    clear: none;
    margin-left: 0;
  }
  .\38 u\28large\29, .\38 u\24\28large\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\37 u\28large\29, .\37 u\24\28large\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\36 u\28large\29, .\36 u\24\28large\29 {
    width: 50%;
    clear: none;
    margin-left: 0;
  }
  .\35 u\28large\29, .\35 u\24\28large\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\34 u\28large\29, .\34 u\24\28large\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\33 u\28large\29, .\33 u\24\28large\29 {
    width: 25%;
    clear: none;
    margin-left: 0;
  }
  .\32 u\28large\29, .\32 u\24\28large\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 u\28large\29, .\31 u\24\28large\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\31 2u\24\28large\29  + *, .\31 1u\24\28large\29  + *, .\31 0u\24\28large\29  + *, .\39 u\24\28large\29  + *, .\38 u\24\28large\29  + *, .\37 u\24\28large\29  + *, .\36 u\24\28large\29  + *, .\35 u\24\28large\29  + *, .\34 u\24\28large\29  + *, .\33 u\24\28large\29  + *, .\32 u\24\28large\29  + *, .\31 u\24\28large\29  + * {
    clear: left;
  }
  .\-11u\28large\29 {
    margin-left: 91.66667%;
  }
  .\-10u\28large\29 {
    margin-left: 83.33333%;
  }
  .\-9u\28large\29 {
    margin-left: 75%;
  }
  .\-8u\28large\29 {
    margin-left: 66.66667%;
  }
  .\-7u\28large\29 {
    margin-left: 58.33333%;
  }
  .\-6u\28large\29 {
    margin-left: 50%;
  }
  .\-5u\28large\29 {
    margin-left: 41.66667%;
  }
  .\-4u\28large\29 {
    margin-left: 33.33333%;
  }
  .\-3u\28large\29 {
    margin-left: 25%;
  }
  .\-2u\28large\29 {
    margin-left: 16.66667%;
  }
  .\-1u\28large\29 {
    margin-left: 8.33333%;
  }
}

@media screen and (max-width: 980px) {
  .row {
    > * {
      padding: 0 0 0 2em;
    }
    margin: 0 0 -1px -2em;
    &.uniform {
      > * {
        padding: 2em 0 0 2em;
      }
      margin: -2em 0 -1px -2em;
    }
    &.\32 00\25  > * {
      padding: 0 0 0 4em;
    }
    &.\32 00\25 {
      margin: 0 0 -1px -4em;
    }
    &.uniform {
      &.\32 00\25  > * {
        padding: 4em 0 0 4em;
      }
      &.\32 00\25 {
        margin: -4em 0 -1px -4em;
      }
    }
    &.\31 50\25  > * {
      padding: 0 0 0 3em;
    }
    &.\31 50\25 {
      margin: 0 0 -1px -3em;
    }
    &.uniform {
      &.\31 50\25  > * {
        padding: 3em 0 0 3em;
      }
      &.\31 50\25 {
        margin: -3em 0 -1px -3em;
      }
    }
    &.\35 0\25  > * {
      padding: 0 0 0 1em;
    }
    &.\35 0\25 {
      margin: 0 0 -1px -1em;
    }
    &.uniform {
      &.\35 0\25  > * {
        padding: 1em 0 0 1em;
      }
      &.\35 0\25 {
        margin: -1em 0 -1px -1em;
      }
    }
    &.\32 5\25  > * {
      padding: 0 0 0 0.5em;
    }
    &.\32 5\25 {
      margin: 0 0 -1px -0.5em;
    }
    &.uniform {
      &.\32 5\25  > * {
        padding: 0.5em 0 0 0.5em;
      }
      &.\32 5\25 {
        margin: -0.5em 0 -1px -0.5em;
      }
    }
  }
  .\31 2u\28medium\29, .\31 2u\24\28medium\29 {
    width: 100%;
    clear: none;
    margin-left: 0;
  }
  .\31 1u\28medium\29, .\31 1u\24\28medium\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 0u\28medium\29, .\31 0u\24\28medium\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\39 u\28medium\29, .\39 u\24\28medium\29 {
    width: 75%;
    clear: none;
    margin-left: 0;
  }
  .\38 u\28medium\29, .\38 u\24\28medium\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\37 u\28medium\29, .\37 u\24\28medium\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\36 u\28medium\29, .\36 u\24\28medium\29 {
    width: 50%;
    clear: none;
    margin-left: 0;
  }
  .\35 u\28medium\29, .\35 u\24\28medium\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\34 u\28medium\29, .\34 u\24\28medium\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\33 u\28medium\29, .\33 u\24\28medium\29 {
    width: 25%;
    clear: none;
    margin-left: 0;
  }
  .\32 u\28medium\29, .\32 u\24\28medium\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 u\28medium\29, .\31 u\24\28medium\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\31 2u\24\28medium\29  + *, .\31 1u\24\28medium\29  + *, .\31 0u\24\28medium\29  + *, .\39 u\24\28medium\29  + *, .\38 u\24\28medium\29  + *, .\37 u\24\28medium\29  + *, .\36 u\24\28medium\29  + *, .\35 u\24\28medium\29  + *, .\34 u\24\28medium\29  + *, .\33 u\24\28medium\29  + *, .\32 u\24\28medium\29  + *, .\31 u\24\28medium\29  + * {
    clear: left;
  }
  .\-11u\28medium\29 {
    margin-left: 91.66667%;
  }
  .\-10u\28medium\29 {
    margin-left: 83.33333%;
  }
  .\-9u\28medium\29 {
    margin-left: 75%;
  }
  .\-8u\28medium\29 {
    margin-left: 66.66667%;
  }
  .\-7u\28medium\29 {
    margin-left: 58.33333%;
  }
  .\-6u\28medium\29 {
    margin-left: 50%;
  }
  .\-5u\28medium\29 {
    margin-left: 41.66667%;
  }
  .\-4u\28medium\29 {
    margin-left: 33.33333%;
  }
  .\-3u\28medium\29 {
    margin-left: 25%;
  }
  .\-2u\28medium\29 {
    margin-left: 16.66667%;
  }
  .\-1u\28medium\29 {
    margin-left: 8.33333%;
  }
}

@media screen and (max-width: 736px) {
  .row {
    > * {
      padding: 0 0 0 2em;
    }
    margin: 0 0 -1px -2em;
    &.uniform {
      > * {
        padding: 2em 0 0 2em;
      }
      margin: -2em 0 -1px -2em;
    }
    &.\32 00\25  > * {
      padding: 0 0 0 4em;
    }
    &.\32 00\25 {
      margin: 0 0 -1px -4em;
    }
    &.uniform {
      &.\32 00\25  > * {
        padding: 4em 0 0 4em;
      }
      &.\32 00\25 {
        margin: -4em 0 -1px -4em;
      }
    }
    &.\31 50\25  > * {
      padding: 0 0 0 3em;
    }
    &.\31 50\25 {
      margin: 0 0 -1px -3em;
    }
    &.uniform {
      &.\31 50\25  > * {
        padding: 3em 0 0 3em;
      }
      &.\31 50\25 {
        margin: -3em 0 -1px -3em;
      }
    }
    &.\35 0\25  > * {
      padding: 0 0 0 1em;
    }
    &.\35 0\25 {
      margin: 0 0 -1px -1em;
    }
    &.uniform {
      &.\35 0\25  > * {
        padding: 1em 0 0 1em;
      }
      &.\35 0\25 {
        margin: -1em 0 -1px -1em;
      }
    }
    &.\32 5\25  > * {
      padding: 0 0 0 0.5em;
    }
    &.\32 5\25 {
      margin: 0 0 -1px -0.5em;
    }
    &.uniform {
      &.\32 5\25  > * {
        padding: 0.5em 0 0 0.5em;
      }
      &.\32 5\25 {
        margin: -0.5em 0 -1px -0.5em;
      }
    }
  }
  .\31 2u\28small\29, .\31 2u\24\28small\29 {
    width: 100%;
    clear: none;
    margin-left: 0;
  }
  .\31 1u\28small\29, .\31 1u\24\28small\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 0u\28small\29, .\31 0u\24\28small\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\39 u\28small\29, .\39 u\24\28small\29 {
    width: 75%;
    clear: none;
    margin-left: 0;
  }
  .\38 u\28small\29, .\38 u\24\28small\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\37 u\28small\29, .\37 u\24\28small\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\36 u\28small\29, .\36 u\24\28small\29 {
    width: 50%;
    clear: none;
    margin-left: 0;
  }
  .\35 u\28small\29, .\35 u\24\28small\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\34 u\28small\29, .\34 u\24\28small\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\33 u\28small\29, .\33 u\24\28small\29 {
    width: 25%;
    clear: none;
    margin-left: 0;
  }
  .\32 u\28small\29, .\32 u\24\28small\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 u\28small\29, .\31 u\24\28small\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\31 2u\24\28small\29  + *, .\31 1u\24\28small\29  + *, .\31 0u\24\28small\29  + *, .\39 u\24\28small\29  + *, .\38 u\24\28small\29  + *, .\37 u\24\28small\29  + *, .\36 u\24\28small\29  + *, .\35 u\24\28small\29  + *, .\34 u\24\28small\29  + *, .\33 u\24\28small\29  + *, .\32 u\24\28small\29  + *, .\31 u\24\28small\29  + * {
    clear: left;
  }
  .\-11u\28small\29 {
    margin-left: 91.66667%;
  }
  .\-10u\28small\29 {
    margin-left: 83.33333%;
  }
  .\-9u\28small\29 {
    margin-left: 75%;
  }
  .\-8u\28small\29 {
    margin-left: 66.66667%;
  }
  .\-7u\28small\29 {
    margin-left: 58.33333%;
  }
  .\-6u\28small\29 {
    margin-left: 50%;
  }
  .\-5u\28small\29 {
    margin-left: 41.66667%;
  }
  .\-4u\28small\29 {
    margin-left: 33.33333%;
  }
  .\-3u\28small\29 {
    margin-left: 25%;
  }
  .\-2u\28small\29 {
    margin-left: 16.66667%;
  }
  .\-1u\28small\29 {
    margin-left: 8.33333%;
  }
}

.modal[role="dialog"] {
  #user-login input, #user-register-form input {
    height: 35px !important;
    background-color: #FFF !important;
    border-radius: 2px !important;
  }
}

#modal_container.modal .modal-header .close, [role="dialog"].modal .modal-header .close {
  margin-top: -20px !important;
  box-shadow: none !important;
}

.btn {
  color: #FFF !important;
}

@media screen and (max-width: 480px) {
  .row {
    > * {
      padding: 0 0 0 2em;
    }
    margin: 0 0 -1px -2em;
    &.uniform {
      > * {
        padding: 2em 0 0 2em;
      }
      margin: -2em 0 -1px -2em;
    }
    &.\32 00\25  > * {
      padding: 0 0 0 4em;
    }
    &.\32 00\25 {
      margin: 0 0 -1px -4em;
    }
    &.uniform {
      &.\32 00\25  > * {
        padding: 4em 0 0 4em;
      }
      &.\32 00\25 {
        margin: -4em 0 -1px -4em;
      }
    }
    &.\31 50\25  > * {
      padding: 0 0 0 3em;
    }
    &.\31 50\25 {
      margin: 0 0 -1px -3em;
    }
    &.uniform {
      &.\31 50\25  > * {
        padding: 3em 0 0 3em;
      }
      &.\31 50\25 {
        margin: -3em 0 -1px -3em;
      }
    }
    &.\35 0\25  > * {
      padding: 0 0 0 1em;
    }
    &.\35 0\25 {
      margin: 0 0 -1px -1em;
    }
    &.uniform {
      &.\35 0\25  > * {
        padding: 1em 0 0 1em;
      }
      &.\35 0\25 {
        margin: -1em 0 -1px -1em;
      }
    }
    &.\32 5\25  > * {
      padding: 0 0 0 0.5em;
    }
    &.\32 5\25 {
      margin: 0 0 -1px -0.5em;
    }
    &.uniform {
      &.\32 5\25  > * {
        padding: 0.5em 0 0 0.5em;
      }
      &.\32 5\25 {
        margin: -0.5em 0 -1px -0.5em;
      }
    }
  }
  .\31 2u\28xsmall\29, .\31 2u\24\28xsmall\29 {
    width: 100%;
    clear: none;
    margin-left: 0;
  }
  .\31 1u\28xsmall\29, .\31 1u\24\28xsmall\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 0u\28xsmall\29, .\31 0u\24\28xsmall\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\39 u\28xsmall\29, .\39 u\24\28xsmall\29 {
    width: 75%;
    clear: none;
    margin-left: 0;
  }
  .\38 u\28xsmall\29, .\38 u\24\28xsmall\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\37 u\28xsmall\29, .\37 u\24\28xsmall\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\36 u\28xsmall\29, .\36 u\24\28xsmall\29 {
    width: 50%;
    clear: none;
    margin-left: 0;
  }
  .\35 u\28xsmall\29, .\35 u\24\28xsmall\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\34 u\28xsmall\29, .\34 u\24\28xsmall\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\33 u\28xsmall\29, .\33 u\24\28xsmall\29 {
    width: 25%;
    clear: none;
    margin-left: 0;
  }
  .\32 u\28xsmall\29, .\32 u\24\28xsmall\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 u\28xsmall\29, .\31 u\24\28xsmall\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\31 2u\24\28xsmall\29  + *, .\31 1u\24\28xsmall\29  + *, .\31 0u\24\28xsmall\29  + *, .\39 u\24\28xsmall\29  + *, .\38 u\24\28xsmall\29  + *, .\37 u\24\28xsmall\29  + *, .\36 u\24\28xsmall\29  + *, .\35 u\24\28xsmall\29  + *, .\34 u\24\28xsmall\29  + *, .\33 u\24\28xsmall\29  + *, .\32 u\24\28xsmall\29  + *, .\31 u\24\28xsmall\29  + * {
    clear: left;
  }
  .\-11u\28xsmall\29 {
    margin-left: 91.66667%;
  }
  .\-10u\28xsmall\29 {
    margin-left: 83.33333%;
  }
  .\-9u\28xsmall\29 {
    margin-left: 75%;
  }
  .\-8u\28xsmall\29 {
    margin-left: 66.66667%;
  }
  .\-7u\28xsmall\29 {
    margin-left: 58.33333%;
  }
  .\-6u\28xsmall\29 {
    margin-left: 50%;
  }
  .\-5u\28xsmall\29 {
    margin-left: 41.66667%;
  }
  .\-4u\28xsmall\29 {
    margin-left: 33.33333%;
  }
  .\-3u\28xsmall\29 {
    margin-left: 25%;
  }
  .\-2u\28xsmall\29 {
    margin-left: 16.66667%;
  }
  .\-1u\28xsmall\29 {
    margin-left: 8.33333%;
  }
}

/* Basic */

@-ms-viewport {
  width: device-width;
}


body {
  -ms-overflow-style: scrollbar;
  background: #fff;
  &.is-loading * {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
    &:before, &:after {
      -moz-animation: none !important;
      -webkit-animation: none !important;
      -ms-animation: none !important;
      animation: none !important;
      -moz-transition: none !important;
      -webkit-transition: none !important;
      -ms-transition: none !important;
      transition: none !important;
    }
  }
  background-color: #fff;
  color: #5e6875;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: 300;
  line-height: 1.65em;
}

@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px;
  }
}

/* Typography */

input, select, textarea {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: 300;
  line-height: 1.65em;
}

@media screen and (max-width: 1680px) {
  body, input, select, textarea {
    font-size: 12pt;
  }
}

@media screen and (max-width: 736px) {
  body, input, select, textarea {
    font-size: 11pt;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

strong, b {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

p {
  margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700 !important;
  line-height: 1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 1.45em;
  line-height: 1.5em;
}

#banner h2, .cta h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 0.9em;
  line-height: 1.5em !important;
}

#method_content h3 {
  font-size: 1.1em !important;
  color: #4d5968 !important;
}

h4, h5 {
  font-size: 0.9em;
  line-height: 1.5em;
}

h6 {
  font-size: 0.7em;
  line-height: 1.5em;
}

#method_content {
  .operation_container .authentication {
    display: none;
  }
  button#send_request {
    border: none !important;
    border-radius: 2px !important;
    color: #FFF !important;
  }
  a.link_reset_default {
    display: inline-block;
    margin: 0px 0 0 10px !important;
    font-size: 15px !important;
    line-height: 30px !important;
    padding: 10px 40px !important;
    font-weight: bold !important;
    background-color: #EEE !important;
  }
}

.request_response_tabs {
  margin-top: 50px;
}

@media screen and (max-width: 1280px) {
  h2 {
    font-size: 1.35em;
  }
}

@media screen and (max-width: 736px) {
  h2 {
    font-size: 1.2em;
  }
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

blockquote {
  border-left: solid 4px;
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 2em;
}

code {
  border-radius: 5px;
  border: solid 1px;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0 2em 0;
  code {
    display: block;
    line-height: 1.75em;
    padding: 1em 1.5em;
    overflow-x: auto;
  }
}

hr {
  border: 0;
  border-bottom: solid 1px;
  margin: 1em 0;
  &.major {
    margin: 2em 0;
    border-bottom-width: 2px;
  }
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

input, select, textarea {
  color: #4d5968;
}

#edit-keys {
  border: none;
  background-color: #FAFAFA;
  border-bottom: 6px solid #F4F4F4;
  padding: 5px 20px;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 1px;
}

textarea:focus, input:focus {
  outline: none;
}

a {
  color: #5f9dd2;
}

strong, b, h1, h2, h3, h4, h5, h6 {
  color: #4d5968;
}

blockquote {
  border-left-color: rgba(144, 144, 144, 0.25);
}

code {
  background: rgba(144, 144, 144, 0.075);
  border-color: rgba(144, 144, 144, 0.25);
}

hr {
  border-bottom-color: rgba(144, 144, 144, 0.25);
}

/* Box */

.box {
  border-radius: 5px;
  border: solid 1px;
  margin-bottom: 2em;
  padding: 1.5em;
  > :last-child {
    margin-bottom: 0;
    > :last-child {
      margin-bottom: 0;
      > :last-child {
        margin-bottom: 0;
      }
    }
  }
  &.alt {
    border: 0;
    border-radius: 0;
    padding: 0;
  }
  border-color: rgba(144, 144, 144, 0.25);
}

/* Button */

input {
  &[type="submit"], &[type="reset"], &[type="button"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 700;
    height: 3.25em;
    line-height: 3.35em;
    padding: 0 2em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
  }
}

button, .button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 700;
  height: 3.25em;
  line-height: 3.35em;
  padding: 0 2em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

input {
  &[type="submit"].icon, &[type="reset"].icon, &[type="button"].icon {
    padding-left: 1.35em;
  }
}

button.icon, .button.icon {
  padding-left: 1.35em;
}

input {
  &[type="submit"].icon:before, &[type="reset"].icon:before, &[type="button"].icon:before {
    margin-right: 0.5em;
  }
}

button.icon:before, .button.icon:before {
  margin-right: 0.5em;
}

input {
  &[type="submit"].fit, &[type="reset"].fit, &[type="button"].fit {
    display: block;
    margin: 0 0 1em 0;
    width: 100%;
  }
}

button.fit, .button.fit {
  display: block;
  margin: 0 0 1em 0;
  width: 100%;
}

input {
  &[type="submit"].small, &[type="reset"].small, &[type="button"].small {
    font-size: 0.6em;
  }
}

button.small, .button.small {
  font-size: 0.6em;
}

input {
  &[type="submit"].big, &[type="reset"].big, &[type="button"].big {
    font-size: 0.9em;
    height: 3.5em;
    line-height: 3.6em;
    padding: 0 2em;
  }
}

button.big, .button.big {
  font-size: 0.9em;
  height: 3.5em;
  line-height: 3.6em;
  padding: 0 2em;
}

input {
  &[type="submit"].huge, &[type="reset"].huge, &[type="button"].huge {
    font-size: 0.9em;
    height: 3.5em;
    line-height: 3.6em;
    padding: 0 3.5em;
  }
}

button.huge, .button.huge {
  font-size: 0.9em;
  height: 3.5em;
  line-height: 3.6em;
  padding: 0 3.5em;
}

@media screen and (max-width: 980px) {
  input {
    &[type="submit"].huge, &[type="reset"].huge, &[type="button"].huge {
      font-size: 0.9em;
      height: 3.5em;
      line-height: 3.6em;
      padding: 0 2em;
    }
  }
  button.huge, .button.huge {
    font-size: 0.9em;
    height: 3.5em;
    line-height: 3.6em;
    padding: 0 2em;
  }
}

input {
  &[type="submit"] {
    &.disabled, &:disabled {
      -moz-pointer-events: none;
      -webkit-pointer-events: none;
      -ms-pointer-events: none;
      pointer-events: none;
      opacity: 0.25;
    }
  }
  &[type="reset"] {
    &.disabled, &:disabled {
      -moz-pointer-events: none;
      -webkit-pointer-events: none;
      -ms-pointer-events: none;
      pointer-events: none;
      opacity: 0.25;
    }
  }
  &[type="button"] {
    &.disabled, &:disabled {
      -moz-pointer-events: none;
      -webkit-pointer-events: none;
      -ms-pointer-events: none;
      pointer-events: none;
      opacity: 0.25;
    }
  }
}

button {
  &.disabled, &:disabled {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    opacity: 0.25;
  }
}

.button {
  &.disabled, &:disabled {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    opacity: 0.25;
  }
}

input {
  &[type="submit"], &[type="reset"], &[type="button"] {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
    color: #4d5968 !important;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

button, .button {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
  color: #4d5968 !important;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

input {
  &[type="submit"]:hover, &[type="reset"]:hover, &[type="button"]:hover {
    background-color: rgba(144, 144, 144, 0.075);
  }
}

button:hover, .button:hover {
  background-color: rgba(144, 144, 144, 0.075);
}

input {
  &[type="submit"]:active, &[type="reset"]:active, &[type="button"]:active {
    background-color: rgba(144, 144, 144, 0.2);
  }
}

button:active, .button:active {
  background-color: rgba(144, 144, 144, 0.2);
}

input {
  &[type="submit"].icon:before, &[type="reset"].icon:before, &[type="button"].icon:before {
    color: #7e8895;
  }
}

button.icon:before, .button.icon:before {
  color: #7e8895;
}

input {
  &[type="submit"].special, &[type="reset"].special, &[type="button"].special {
    box-shadow: none;
    background-color: #5f9dd2;
    color: #ffffff !important;
  }
}

button.special, .button.special {
  box-shadow: none;
  background-color: #5f9dd2;
  color: #ffffff !important;
}

input {
  &[type="submit"].special:hover, &[type="reset"].special:hover, &[type="button"].special:hover {
    background-color: #73a9d8;
  }
}

button.special:hover, .button.special:hover {
  background-color: #73a9d8;
}

input {
  &[type="submit"].special:active, &[type="reset"].special:active, &[type="button"].special:active {
    background-color: #4b91cc;
  }
}

button.special:active, .button.special:active {
  background-color: #4b91cc;
}

input {
  &[type="submit"].special.icon:before, &[type="reset"].special.icon:before, &[type="button"].special.icon:before {
    color: #bfd7ed;
  }
}

button.special.icon:before, .button.special.icon:before {
  color: #bfd7ed;
}

/* Form */

form {
  margin: 0 0 2em 0;
}

label {
  display: block;
  font-size: 0.9em;
  font-weight: 700;
  margin: 0 0 1em 0;
}

input {
  &[type="text"], &[type="password"], &[type="email"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 5px;
    border: none;
    border: solid 1px;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
  }
}

select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 5px;
  border: none;
  border: solid 1px;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}

input {
  &[type="text"]:invalid, &[type="password"]:invalid, &[type="email"]:invalid {
    box-shadow: none;
  }
}

select:invalid, textarea:invalid {
  box-shadow: none;
}

.select-wrapper {
  text-decoration: none;
  display: block;
  position: relative;
  &:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
    content: '\f078';
    display: block;
    height: 2.75em;
    line-height: 2.75em;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 2.75em;
  }
  select::-ms-expand {
    display: none;
  }
}

input {
  &[type="text"], &[type="password"], &[type="email"] {
    height: 2.75em;
  }
}

select {
  height: 2.75em;
}

textarea {
  padding: 0.75em 1em;
}

input {
  &[type="checkbox"], &[type="radio"] {
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    width: 1em;
    z-index: -1;
  }
  &[type="checkbox"] + label, &[type="radio"] + label {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 300;
    padding-left: 2.4em;
    padding-right: 0.75em;
    position: relative;
  }
  &[type="checkbox"] + label:before, &[type="radio"] + label:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
  }
  &[type="checkbox"] + label:before, &[type="radio"] + label:before {
    border-radius: 5px;
    border: solid 1px;
    content: '';
    display: inline-block;
    height: 1.65em;
    left: 0;
    line-height: 1.58125em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1.65em;
  }
  &[type="checkbox"]:checked + label:before, &[type="radio"]:checked + label:before {
    content: '\f00c';
  }
  &[type="checkbox"] + label:before {
    border-radius: 5px;
  }
  &[type="radio"] + label:before {
    border-radius: 100%;
  }
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder, .formerize-placeholder {
  opacity: 1.0;
}

label {
  color: #4d5968;
}

input {
  &[type="text"], &[type="password"], &[type="email"] {
    background: rgba(144, 144, 144, 0.075);
    border-color: rgba(144, 144, 144, 0.25);
  }
}

select, textarea {
  background: rgba(144, 144, 144, 0.075);
  border-color: rgba(144, 144, 144, 0.25);
}

input {
  &[type="text"]:focus, &[type="password"]:focus, &[type="email"]:focus {
    border-color: #5f9dd2;
    box-shadow: 0 0 0 1px #5f9dd2;
  }
}

select:focus, textarea:focus {
  border-color: #5f9dd2;
  box-shadow: 0 0 0 1px #5f9dd2;
}

.select-wrapper:before {
  color: rgba(144, 144, 144, 0.25);
}

input {
  &[type="checkbox"] + label, &[type="radio"] + label {
    color: #5e6875;
  }
  &[type="checkbox"] + label:before, &[type="radio"] + label:before {
    background: rgba(144, 144, 144, 0.075);
    border-color: rgba(144, 144, 144, 0.25);
  }
  &[type="checkbox"]:checked + label:before, &[type="radio"]:checked + label:before {
    background-color: #5f9dd2;
    border-color: #5f9dd2;
    color: #ffffff;
  }
  &[type="checkbox"]:focus + label:before, &[type="radio"]:focus + label:before {
    border-color: #5f9dd2;
    box-shadow: 0 0 0 1px #5f9dd2;
  }
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder, .formerize-placeholder {
  color: #7e8895 !important;
}

/* Custom Header Things.. */

.page-header {
  background: transparent !important;
  border-bottom: none !important;
  border-top: none !important;
  box-shadow: none !important;
  padding-top: none !important;
  margin-top: 0px;
  padding-top: 0px;
}

.inner .container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* Icon */

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
  &:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
  }
  > .label {
    display: none;
  }
  &.glyphicon {
    &:before {
      font-family: 'Glyphicons Halflings';
    }
  }
}

/* Image */

.image {
  border-radius: 5px;
  border: 0;
  display: inline-block;
  position: relative;
  img {
    border-radius: 5px;
    display: block;
  }
  &.left, &.right {
    max-width: 40%;
  }
  &.left img, &.right img {
    width: 100%;
  }
  &.left {
    float: left;
    margin: 0 1.5em 1em 0;
    top: 0.25em;
  }
  &.right {
    float: right;
    margin: 0 0 1em 1.5em;
    top: 0.25em;
  }
  &.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
    img {
      width: 100%;
    }
  }
  &.main {
    display: block;
    margin: 0 0 3em 0;
    width: 100%;
    img {
      width: 100%;
    }
  }
}

/* Apigee/Drupal Things... */

.field-type-text-with-summary {
  clear: both;
  margin-top: 10px;
}

/* List */

ol {
  list-style: decimal;
  margin: 0 0 2em 0;
  padding-left: 1.25em;
  li {
    padding-left: 0.25em;
  }
}

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
  li {
    padding-left: 0.5em;
  }
  &.alt {
    list-style: none;
    padding-left: 0;
    li {
      border-top: solid 1px;
      padding: 0.5em 0;
      &:first-child {
        border-top: 0;
        padding-top: 0;
      }
    }
  }
  &.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
    li {
      display: inline-block;
      padding: 0 1em 0 0;
      &:last-child {
        padding-right: 0;
      }
      .icon:before {
        font-size: 2em;
      }
    }
    &.bulleted li {
      padding-left: 2em;
      position: relative;
      display: block;
      &.icon:before {
        left: 0;
        position: absolute;
        top: 0;
      }
      > :last-child {
        margin-bottom: 1em;
      }
    }
  }
  &.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
    li {
      display: inline-block;
      padding: 0 1em 0 0;
      vertical-align: middle;
      &:last-child {
        padding-right: 0;
      }
    }
    &.small li {
      padding: 0 0.5em 0 0;
    }
    &.vertical {
      li {
        display: block;
        padding: 1em 0 0 0;
        &:first-child {
          padding-top: 0;
        }
        > * {
          margin-bottom: 0;
        }
      }
      &.small li {
        padding: 0.5em 0 0 0;
        &:first-child {
          padding-top: 0;
        }
      }
    }
    &.fit {
      display: table;
      margin-left: -1em;
      padding: 0;
      table-layout: fixed;
      width: calc(100% + 1em);
      li {
        display: table-cell;
        padding: 0 0 0 1em;
        > * {
          margin-bottom: 0;
        }
      }
      &.small {
        margin-left: -0.5em;
        width: calc(100% + 0.5em);
        li {
          padding: 0 0 0 0.5em;
        }
      }
    }
  }
  &.features {
    list-style: none;
    padding: 0;
    li {
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      border-top: solid 2px;
      margin: 3em 0 0 0;
      padding: 3em 0 0 0;
      h3 {
        margin-bottom: 0;
        min-width: 20em;
        padding-left: 4.5em;
        position: relative;
        width: 35%;
        -ms-flex: auto;
        &:before {
          border-radius: 100%;
          border: solid 2px;
          font-size: 1.25em;
          height: 2.5em;
          left: 0;
          line-height: 2.25em;
          position: absolute;
          text-align: center;
          top: 0;
          width: 2.5em;
        }
      }
      p {
        width: 65%;
        -ms-flex: auto;
        margin-bottom: 0;
        padding-left: 3em;
      }
      &:first-child {
        border-top: 0;
        margin-top: 0;
        padding-top: 0;
      }
    }
  }
}

@media screen and (max-width: 736px) {
  ul.features li {
    h3 {
      min-width: 15em;
    }
    p {
      padding-left: 2em;
    }
  }
}

@media screen and (max-width: 480px) {
  ul.features li {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    h3 {
      width: 100%;
      margin: 0 0 2em 0;
      padding-left: 4.25em;
    }
    p {
      padding-left: 3.75em;
      width: 100%;
    }
  }
}

dl {
  margin: 0 0 2em 0;
  dt {
    display: block;
    font-weight: 700;
    margin: 0 0 1em 0;
  }
  dd {
    margin-left: 2em;
  }
}

ul {
  &.alt li {
    border-top-color: rgba(144, 144, 144, 0.25);
  }
  &.features li {
    border-top-color: rgba(144, 144, 144, 0.25);
    h3:before {
      border-color: rgba(144, 144, 144, 0.25);
    }
    &:nth-child(3n - 2) h3:before {
      color: #5f9dd2;
    }
    &:nth-child(3n - 1) h3:before {
      color: #758ce1;
    }
    &:nth-child(3n) h3:before {
      color: #e286a9;
    }
  }
}

/* Posts */

.posts {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 2em 0;
  .post {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    .image {
      display: block;
      margin-right: 2em;
      width: 40%;
      -ms-flex: auto;
      img {
        display: block;
        width: 100%;
      }
    }
    .content {
      width: 60%;
      -ms-flex: auto;
      > :last-child {
        margin-bottom: 0;
      }
    }
  }
  > {
    * {
      margin: 0 0 4em 0;
      padding: 0 1.5em;
      width: 50%;
    }
    :nth-child(2n) {
      padding-right: 0;
    }
    :nth-child(2n + 1) {
      padding-left: 0;
    }
    :nth-last-child(1), :nth-last-child(2) {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 980px) {
  .posts {
    .post {
      .image {
        width: 30%;
      }
      .content {
        width: 70%;
      }
    }
    > {
      * {
        margin: 0 0 3em 0 !important;
        padding: 0;
        width: 100%;
      }
      :last-child {
        margin-bottom: 0 !important;
      }
    }
  }
}

@media screen and (max-width: 736px) {
  .posts .post {
    .image {
      width: 30%;
      min-width: 6em;
    }
    .content {
      width: 70%;
    }
  }
}

@media screen and (max-width: 480px) {
  .posts .post .image {
    margin-right: 1.5em;
  }
}

/* Section/Article */

section.special, article.special {
  text-align: center;
}

header {
  p {
    position: relative;
    margin: 0 0 1.5em 0;
  }
  h2 + p {
    font-size: 1.25em;
    margin-top: -0.7em;
    line-height: 1.5em;
  }
  h3 + p {
    font-size: 1.1em;
    margin-top: -0.5em;
    line-height: 1.5em;
  }
  h4 + p, h5 + p, h6 + p {
    font-size: 0.9em;
    margin-top: -0.6em;
    line-height: 1.5em;
  }
  &.major {
    margin: 0 0 2em 0;
    p {
      margin-bottom: 1em;
    }
    &:after {
      content: '';
      display: inline-block;
      height: 2px;
      width: 4em;
    }
  }
  p {
    color: #7e8895;
  }
  &.major:after {
    background-color: rgba(144, 144, 144, 0.25);
  }
}

@media screen and (max-width: 736px) {
  header {
    p {
      font-size: 1em !important;
    }
    &.major {
      margin: 0 0 2em 0;
    }
  }
}

/* Table */

.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

table {
  margin: 0 0 2em 0;
  width: 100%;
  tbody tr {
    border: solid 1px;
    border-left: 0;
    border-right: 0;
  }
  td {
    padding: 0.75em 0.75em;
  }
  th {
    font-size: 0.9em;
    font-weight: 700;
    padding: 0 0.75em 0.75em 0.75em;
    text-align: left;
  }
  thead {
    border-bottom: solid 2px;
  }
  tfoot {
    border-top: solid 2px;
  }
  &.alt {
    border-collapse: separate;
    tbody tr {
      td {
        border: solid 1px;
        border-left-width: 0;
        border-top-width: 0;
        &:first-child {
          border-left-width: 1px;
        }
      }
      &:first-child td {
        border-top-width: 1px;
      }
    }
    thead {
      border-bottom: 0;
    }
    tfoot {
      border-top: 0;
    }
  }
  tbody tr {
    border-color: rgba(144, 144, 144, 0.25);
    &:nth-child(2n + 1) {
      background-color: rgba(144, 144, 144, 0.075);
    }
  }
  th {
    color: #4d5968;
  }
  thead {
    border-bottom-color: rgba(144, 144, 144, 0.25);
  }
  tfoot {
    border-top-color: rgba(144, 144, 144, 0.25);
  }
  &.alt tbody tr td {
    border-color: rgba(144, 144, 144, 0.25);
  }
}

#one .node-teaser .method_details .title a, .view .method_details .title a {
  font-weight: bold;
  font-size: 13pt !important;
}

#one .view-content {
  font-size: 13pt !important;
}

#block-views-devconnect-blog-block-1 {
  padding-left: 0px !important;
  padding-right: 30px;
}

#block-views-home-featured-forum-posts-block {
  padding: 0px 30px;
}

#block-views-smartdocs-methods-frontpage {
  padding-left: 30px;
}

/* Wrapper */

.wrapper {
  padding: 3.5em 0 2em 0;
  padding-top: 0;
  position: relative;
  > .inner {
    margin: 0 auto;
    width: 70em;
  }
  &.style1 {
    background-color: #5f9dd2;
    color: #d7e6f3;
    input, select, textarea, a, strong, b, h1, h2, h3, h4, h5, h6 {
      color: #ffffff;
    }
    blockquote {
      border-left-color: rgba(255, 255, 255, 0.25);
    }
    code {
      background: rgba(255, 255, 255, 0.075);
      border-color: rgba(255, 255, 255, 0.25);
    }
    hr {
      border-bottom-color: rgba(255, 255, 255, 0.25);
    }
    .box {
      border-color: rgba(255, 255, 255, 0.25);
    }
    input {
      &[type="submit"], &[type="reset"], &[type="button"] {
        background-color: transparent;
        box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
        color: #ffffff !important;
        letter-spacing: 0.05em;
        text-transform: uppercase;
      }
    }
    button, .button {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
      color: #ffffff !important;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
    input {
      &[type="submit"]:hover, &[type="reset"]:hover, &[type="button"]:hover {
        background-color: rgba(255, 255, 255, 0.075);
      }
    }
    button:hover, .button:hover {
      background-color: rgba(255, 255, 255, 0.075);
    }
    input {
      &[type="submit"]:active, &[type="reset"]:active, &[type="button"]:active {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
    button:active, .button:active {
      background-color: rgba(255, 255, 255, 0.2);
    }
    input {
      &[type="submit"].icon:before, &[type="reset"].icon:before, &[type="button"].icon:before {
        color: #bfd7ed;
      }
    }
    button.icon:before, .button.icon:before {
      color: #bfd7ed;
    }
    input {
      &[type="submit"].special, &[type="reset"].special, &[type="button"].special {
        box-shadow: none;
        background-color: #ffffff;
        color: #5f9dd2 !important;
      }
    }
    button.special, .button.special {
      box-shadow: none;
      background-color: #ffffff;
      color: #5f9dd2 !important;
    }
    input {
      &[type="submit"].special.icon:before, &[type="reset"].special.icon:before, &[type="button"].special.icon:before {
        color: #bfd7ed;
      }
    }
    button.special.icon:before, .button.special.icon:before {
      color: #bfd7ed;
    }
    label {
      color: #ffffff;
    }
    input {
      &[type="text"], &[type="password"], &[type="email"] {
        background: rgba(255, 255, 255, 0.075);
        border-color: rgba(255, 255, 255, 0.25);
      }
    }
    select, textarea {
      background: rgba(255, 255, 255, 0.075);
      border-color: rgba(255, 255, 255, 0.25);
    }
    input {
      &[type="text"]:focus, &[type="password"]:focus, &[type="email"]:focus {
        border-color: #ffffff;
        box-shadow: 0 0 0 1px #ffffff;
      }
    }
    select:focus, textarea:focus {
      border-color: #ffffff;
      box-shadow: 0 0 0 1px #ffffff;
    }
    .select-wrapper:before {
      color: rgba(255, 255, 255, 0.25);
    }
    input {
      &[type="checkbox"] + label, &[type="radio"] + label {
        color: #d7e6f3;
      }
      &[type="checkbox"] + label:before, &[type="radio"] + label:before {
        background: rgba(255, 255, 255, 0.075);
        border-color: rgba(255, 255, 255, 0.25);
      }
      &[type="checkbox"]:checked + label:before, &[type="radio"]:checked + label:before {
        background-color: #ffffff;
        border-color: #ffffff;
        color: #5f9dd2;
      }
      &[type="checkbox"]:focus + label:before, &[type="radio"]:focus + label:before {
        border-color: #ffffff;
        box-shadow: 0 0 0 1px #ffffff;
      }
    }
    ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder, .formerize-placeholder {
      color: #bfd7ed !important;
    }
    ul {
      &.alt li {
        border-top-color: rgba(255, 255, 255, 0.25);
      }
      &.features li {
        border-top-color: rgba(255, 255, 255, 0.25);
        h3:before {
          border-color: rgba(255, 255, 255, 0.25);
          color: #ffffff;
        }
      }
    }
    header {
      p {
        color: #bfd7ed;
      }
      &.major:after {
        background-color: rgba(255, 255, 255, 0.25);
      }
    }
    table {
      tbody tr {
        border-color: rgba(255, 255, 255, 0.25);
        &:nth-child(2n + 1) {
          background-color: rgba(255, 255, 255, 0.075);
        }
      }
      th {
        color: #ffffff;
      }
      thead {
        border-bottom-color: rgba(255, 255, 255, 0.25);
      }
      tfoot {
        border-top-color: rgba(255, 255, 255, 0.25);
      }
      &.alt tbody tr td {
        border-color: rgba(255, 255, 255, 0.25);
      }
    }
  }
  &.style2 {
    background-color: #758ce1;
    color: #dce2f7;
    input, select, textarea, a, strong, b, h1, h2, h3, h4, h5, h6 {
      color: #ffffff;
    }
    blockquote {
      border-left-color: rgba(255, 255, 255, 0.25);
    }
    code {
      background: rgba(255, 255, 255, 0.075);
      border-color: rgba(255, 255, 255, 0.25);
    }
    hr {
      border-bottom-color: rgba(255, 255, 255, 0.25);
    }
    .box {
      border-color: rgba(255, 255, 255, 0.25);
    }
    input {
      &[type="submit"], &[type="reset"], &[type="button"] {
        background-color: transparent;
        box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
        color: #ffffff !important;
        letter-spacing: 0.05em;
        text-transform: uppercase;
      }
    }
    button, .button {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
      color: #ffffff !important;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
    input {
      &[type="submit"]:hover, &[type="reset"]:hover, &[type="button"]:hover {
        background-color: rgba(255, 255, 255, 0.075);
      }
    }
    button:hover, .button:hover {
      background-color: rgba(255, 255, 255, 0.075);
    }
    input {
      &[type="submit"]:active, &[type="reset"]:active, &[type="button"]:active {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
    button:active, .button:active {
      background-color: rgba(255, 255, 255, 0.2);
    }
    input {
      &[type="submit"].icon:before, &[type="reset"].icon:before, &[type="button"].icon:before {
        color: #c7d1f3;
      }
    }
    button.icon:before, .button.icon:before {
      color: #c7d1f3;
    }
    input {
      &[type="submit"].special, &[type="reset"].special, &[type="button"].special {
        box-shadow: none;
        background-color: #ffffff;
        color: #758ce1 !important;
      }
    }
    button.special, .button.special {
      box-shadow: none;
      background-color: #ffffff;
      color: #758ce1 !important;
    }
    input {
      &[type="submit"].special.icon:before, &[type="reset"].special.icon:before, &[type="button"].special.icon:before {
        color: #c7d1f3;
      }
    }
    button.special.icon:before, .button.special.icon:before {
      color: #c7d1f3;
    }
    label {
      color: #ffffff;
    }
    input {
      &[type="text"], &[type="password"], &[type="email"] {
        background: rgba(255, 255, 255, 0.075);
        border-color: rgba(255, 255, 255, 0.25);
      }
    }
    select, textarea {
      background: rgba(255, 255, 255, 0.075);
      border-color: rgba(255, 255, 255, 0.25);
    }
    input {
      &[type="text"]:focus, &[type="password"]:focus, &[type="email"]:focus {
        border-color: #ffffff;
        box-shadow: 0 0 0 1px #ffffff;
      }
    }
    select:focus, textarea:focus {
      border-color: #ffffff;
      box-shadow: 0 0 0 1px #ffffff;
    }
    .select-wrapper:before {
      color: rgba(255, 255, 255, 0.25);
    }
    input {
      &[type="checkbox"] + label, &[type="radio"] + label {
        color: #dce2f7;
      }
      &[type="checkbox"] + label:before, &[type="radio"] + label:before {
        background: rgba(255, 255, 255, 0.075);
        border-color: rgba(255, 255, 255, 0.25);
      }
      &[type="checkbox"]:checked + label:before, &[type="radio"]:checked + label:before {
        background-color: #ffffff;
        border-color: #ffffff;
        color: #758ce1;
      }
      &[type="checkbox"]:focus + label:before, &[type="radio"]:focus + label:before {
        border-color: #ffffff;
        box-shadow: 0 0 0 1px #ffffff;
      }
    }
    ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder, .formerize-placeholder {
      color: #c7d1f3 !important;
    }
    ul {
      &.alt li {
        border-top-color: rgba(255, 255, 255, 0.25);
      }
      &.features li {
        border-top-color: rgba(255, 255, 255, 0.25);
        h3:before {
          border-color: rgba(255, 255, 255, 0.25);
          color: #ffffff;
        }
      }
    }
    header {
      p {
        color: #c7d1f3;
      }
      &.major:after {
        background-color: rgba(255, 255, 255, 0.25);
      }
    }
    table {
      tbody tr {
        border-color: rgba(255, 255, 255, 0.25);
        &:nth-child(2n + 1) {
          background-color: rgba(255, 255, 255, 0.075);
        }
      }
      th {
        color: #ffffff;
      }
      thead {
        border-bottom-color: rgba(255, 255, 255, 0.25);
      }
      tfoot {
        border-top-color: rgba(255, 255, 255, 0.25);
      }
      &.alt tbody tr td {
        border-color: rgba(255, 255, 255, 0.25);
      }
    }
  }
  &.style3 {
    background-color: #e286a9;
    color: #f7e0e9;
    input, select, textarea, a, strong, b, h1, h2, h3, h4, h5, h6 {
      color: #ffffff;
    }
    blockquote {
      border-left-color: rgba(255, 255, 255, 0.25);
    }
    code {
      background: rgba(255, 255, 255, 0.075);
      border-color: rgba(255, 255, 255, 0.25);
    }
    hr {
      border-bottom-color: rgba(255, 255, 255, 0.25);
    }
    .box {
      border-color: rgba(255, 255, 255, 0.25);
    }
    input {
      &[type="submit"], &[type="reset"], &[type="button"] {
        background-color: transparent;
        box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
        color: #ffffff !important;
        letter-spacing: 0.05em;
        text-transform: uppercase;
      }
    }
    button, .button {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
      color: #ffffff !important;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
    input {
      &[type="submit"]:hover, &[type="reset"]:hover, &[type="button"]:hover {
        background-color: rgba(255, 255, 255, 0.075);
      }
    }
    button:hover, .button:hover {
      background-color: rgba(255, 255, 255, 0.075);
    }
    input {
      &[type="submit"]:active, &[type="reset"]:active, &[type="button"]:active {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
    button:active, .button:active {
      background-color: rgba(255, 255, 255, 0.2);
    }
    input {
      &[type="submit"].icon:before, &[type="reset"].icon:before, &[type="button"].icon:before {
        color: #f3cedc;
      }
    }
    button.icon:before, .button.icon:before {
      color: #f3cedc;
    }
    input {
      &[type="submit"].special, &[type="reset"].special, &[type="button"].special {
        box-shadow: none;
        background-color: #ffffff;
        color: #e286a9 !important;
      }
    }
    button.special, .button.special {
      box-shadow: none;
      background-color: #ffffff;
      color: #e286a9 !important;
    }
    input {
      &[type="submit"].special.icon:before, &[type="reset"].special.icon:before, &[type="button"].special.icon:before {
        color: #f3cedc;
      }
    }
    button.special.icon:before, .button.special.icon:before {
      color: #f3cedc;
    }
    label {
      color: #ffffff;
    }
    input {
      &[type="text"], &[type="password"], &[type="email"] {
        background: rgba(255, 255, 255, 0.075);
        border-color: rgba(255, 255, 255, 0.25);
      }
    }
    select, textarea {
      background: rgba(255, 255, 255, 0.075);
      border-color: rgba(255, 255, 255, 0.25);
    }
    input {
      &[type="text"]:focus, &[type="password"]:focus, &[type="email"]:focus {
        border-color: #ffffff;
        box-shadow: 0 0 0 1px #ffffff;
      }
    }
    select:focus, textarea:focus {
      border-color: #ffffff;
      box-shadow: 0 0 0 1px #ffffff;
    }
    .select-wrapper:before {
      color: rgba(255, 255, 255, 0.25);
    }
    input {
      &[type="checkbox"] + label, &[type="radio"] + label {
        color: #f7e0e9;
      }
      &[type="checkbox"] + label:before, &[type="radio"] + label:before {
        background: rgba(255, 255, 255, 0.075);
        border-color: rgba(255, 255, 255, 0.25);
      }
      &[type="checkbox"]:checked + label:before, &[type="radio"]:checked + label:before {
        background-color: #ffffff;
        border-color: #ffffff;
        color: #e286a9;
      }
      &[type="checkbox"]:focus + label:before, &[type="radio"]:focus + label:before {
        border-color: #ffffff;
        box-shadow: 0 0 0 1px #ffffff;
      }
    }
    ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder, .formerize-placeholder {
      color: #f3cedc !important;
    }
    ul {
      &.alt li {
        border-top-color: rgba(255, 255, 255, 0.25);
      }
      &.features li {
        border-top-color: rgba(255, 255, 255, 0.25);
        h3:before {
          border-color: rgba(255, 255, 255, 0.25);
          color: #ffffff;
        }
      }
    }
    header {
      p {
        color: #f3cedc;
      }
      &.major:after {
        background-color: rgba(255, 255, 255, 0.25);
      }
    }
    table {
      tbody tr {
        border-color: rgba(255, 255, 255, 0.25);
        &:nth-child(2n + 1) {
          background-color: rgba(255, 255, 255, 0.075);
        }
      }
      th {
        color: #ffffff;
      }
      thead {
        border-bottom-color: rgba(255, 255, 255, 0.25);
      }
      tfoot {
        border-top-color: rgba(255, 255, 255, 0.25);
      }
      &.alt tbody tr td {
        border-color: rgba(255, 255, 255, 0.25);
      }
    }
  }
  &.style4 {
    background-color: rgba(77, 89, 104, 0.6);
    color: #ffffff;
    input, select, textarea, a, strong, b, h1, h2, h3, h4, h5, h6 {
      color: #ffffff;
    }
    blockquote {
      border-left-color: #ffffff;
    }
    code {
      background: rgba(255, 255, 255, 0.075);
      border-color: #ffffff;
    }
    hr {
      border-bottom-color: #ffffff;
    }
    .box {
      border-color: #ffffff;
    }
    input {
      &[type="submit"], &[type="reset"], &[type="button"] {
        background-color: transparent;
        box-shadow: inset 0 0 0 2px #ffffff;
        color: #ffffff !important;
        letter-spacing: 0.05em;
        text-transform: uppercase;
      }
    }
    button, .button {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px #ffffff;
      color: #ffffff !important;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
    input {
      &[type="submit"]:hover, &[type="reset"]:hover, &[type="button"]:hover {
        background-color: rgba(255, 255, 255, 0.075);
      }
    }
    button:hover, .button:hover {
      background-color: rgba(255, 255, 255, 0.075);
    }
    input {
      &[type="submit"]:active, &[type="reset"]:active, &[type="button"]:active {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
    button:active, .button:active {
      background-color: rgba(255, 255, 255, 0.2);
    }
    input {
      &[type="submit"].icon:before, &[type="reset"].icon:before, &[type="button"].icon:before {
        color: #ffffff;
      }
    }
    button.icon:before, .button.icon:before {
      color: #ffffff;
    }
    input {
      &[type="submit"].special, &[type="reset"].special, &[type="button"].special {
        box-shadow: none;
        background-color: #ffffff;
        color: rgba(77, 89, 104, 0.6) !important;
      }
    }
    button.special, .button.special {
      box-shadow: none;
      background-color: #ffffff;
      color: rgba(77, 89, 104, 0.6) !important;
    }
    input {
      &[type="submit"].special.icon:before, &[type="reset"].special.icon:before, &[type="button"].special.icon:before {
        color: #ffffff;
      }
    }
    button.special.icon:before, .button.special.icon:before, label {
      color: #ffffff;
    }
    input {
      &[type="text"], &[type="password"], &[type="email"] {
        background: rgba(255, 255, 255, 0.075);
        border-color: #ffffff;
      }
    }
    select, textarea {
      background: rgba(255, 255, 255, 0.075);
      border-color: #ffffff;
    }
    input {
      &[type="text"]:focus, &[type="password"]:focus, &[type="email"]:focus {
        border-color: #ffffff;
        box-shadow: 0 0 0 1px #ffffff;
      }
    }
    select:focus, textarea:focus {
      border-color: #ffffff;
      box-shadow: 0 0 0 1px #ffffff;
    }
    .select-wrapper:before {
      color: #ffffff;
    }
    input {
      &[type="checkbox"] + label, &[type="radio"] + label {
        color: #ffffff;
      }
      &[type="checkbox"] + label:before, &[type="radio"] + label:before {
        background: rgba(255, 255, 255, 0.075);
        border-color: #ffffff;
      }
      &[type="checkbox"]:checked + label:before, &[type="radio"]:checked + label:before {
        background-color: #ffffff;
        border-color: #ffffff;
        color: rgba(77, 89, 104, 0.6);
      }
      &[type="checkbox"]:focus + label:before, &[type="radio"]:focus + label:before {
        border-color: #ffffff;
        box-shadow: 0 0 0 1px #ffffff;
      }
    }
    ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder, .formerize-placeholder {
      color: #ffffff !important;
    }
    ul {
      &.alt li {
        border-top-color: #ffffff;
      }
      &.features li {
        border-top-color: #ffffff;
        h3:before {
          border-color: #ffffff;
          color: #ffffff;
        }
      }
    }
    header {
      p {
        color: #ffffff;
      }
      &.major:after {
        background-color: #ffffff;
      }
    }
    table {
      tbody tr {
        border-color: #ffffff;
        &:nth-child(2n + 1) {
          background-color: rgba(255, 255, 255, 0.075);
        }
      }
      th {
        color: #ffffff;
      }
      thead {
        border-bottom-color: #ffffff;
      }
      tfoot {
        border-top-color: #ffffff;
      }
      &.alt tbody tr td {
        border-color: #ffffff;
      }
    }
  }
  &.cta {
    background-position: center center;
    background-size: auto, auto, cover, cover;
    background-attachment: fixed, fixed, fixed, fixed;
    background-repeat: repeat, repeat, no-repeat, no-repeat;
    background-color: #5eb6e4;
    color: #333;
    input, select, textarea {
      color: #ffffff;
    }
    a, strong, b, h1, h2, h3, h4, h5, h6 {
      color: #333;
    }
    blockquote {
      border-left-color: #ffffff;
    }
    code {
      background: rgba(255, 255, 255, 0.075);
      border-color: #ffffff;
    }
    hr {
      border-bottom-color: #ffffff;
    }
    input {
      &[type="submit"], &[type="reset"], &[type="button"] {
        background-color: transparent;
        box-shadow: inset 0 0 0 2px #333;
        color: #333 !important;
        letter-spacing: 0.05em;
        text-transform: uppercase;
      }
    }
    button, .button {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px #333;
      color: #333 !important;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
    input {
      &[type="submit"]:hover, &[type="reset"]:hover, &[type="button"]:hover {
        background-color: rgba(255, 255, 255, 0.075);
      }
    }
    button:hover, .button:hover {
      background-color: rgba(255, 255, 255, 0.075);
    }
    input {
      &[type="submit"]:active, &[type="reset"]:active, &[type="button"]:active {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
    button:active, .button:active {
      background-color: rgba(255, 255, 255, 0.2);
    }
    input {
      &[type="submit"].icon:before, &[type="reset"].icon:before, &[type="button"].icon:before {
        color: #ffffff;
      }
    }
    button.icon:before, .button.icon:before {
      color: #ffffff;
    }
    input {
      &[type="submit"].special, &[type="reset"].special, &[type="button"].special {
        box-shadow: none;
        background-color: #ffffff;
        color: rgba(77, 89, 104, 0.6) !important;
      }
    }
    button.special, .button.special {
      box-shadow: none;
      background-color: #ffffff;
      color: rgba(77, 89, 104, 0.6) !important;
    }
    input {
      &[type="submit"].special.icon:before, &[type="reset"].special.icon:before, &[type="button"].special.icon:before {
        color: #ffffff;
      }
    }
    button.special.icon:before, .button.special.icon:before {
      color: #ffffff;
    }
    > .inner {
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      > {
        * {
          padding-left: 1.5em;
          -ms-flex: auto;
          width: 50%;
        }
        :first-child {
          padding-left: 0;
          width: 50%;
        }
      }
    }
  }
}

body.is-mobile .wrapper.cta {
  background-attachment: scroll;
}

@media screen and (max-width: 980px) {
  .wrapper.cta > .inner > * {
    width: 100% !important;
    padding-left: 0 !important;
  }
}

.wrapper.sidebar {
  > .inner {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    > {
      header {
        width: 100%;
      }
      .content {
        width: 100%;
        /* padding: 0 4em 0 0; */
      }
      .sidebar {
        width: 25%;
      }
    }
  }
  &.left > .inner {
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    > .content {
      /* padding: 0 0 0 4em; */
    }
  }
}

@media screen and (max-width: 980px) {
  .wrapper.sidebar {
    > .inner {
      -moz-flex-direction: row;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      > {
        .content {
          width: 100%;
          padding: 0;
        }
        .sidebar {
          border-top: solid 2px rgba(144, 144, 144, 0.25);
          margin: 2em 0 0 0;
          padding: 4em 0 0 0;
          width: 100%;
        }
      }
    }
    &.style1 > .inner > .sidebar, &.style2 > .inner > .sidebar, &.style3 > .inner > .sidebar {
      border-top-color: rgba(255, 255, 255, 0.25);
    }
    &.style4 > .inner > .sidebar {
      border-top-color: #ffffff;
    }
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    padding: 0em 3em 3em 3em;
    > .inner {
      width: 100%;
    }
  }
}

@media screen and (max-width: 980px) {
  .wrapper > .inner {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    > * {
      padding-left: 0 !important;
      width: 100%;
    }
  }
}

@media screen and (max-width: 736px) {
  .wrapper {
    padding: 2.5em 2em 0.5em 2em;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 2.5em 1.5em 0.5em 1.5em;
  }
}

/* Header */

body {
  padding-top: 3.5em;
  &.landing {
    padding-top: 0;
  }
}

@-moz-keyframes reveal-header {
  0% {
    top: -4em;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}


@-webkit-keyframes reveal-header {
  0% {
    top: -4em;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}


@-ms-keyframes reveal-header {
  0% {
    top: -4em;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}


@keyframes reveal-header {
  0% {
    top: -4em;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}


#header {
  background: transparent;
  color: #ffffff;
  left: 0;
  line-height: 22px;
  position: relative;
  z-index: 100;
}

.landing #header {
  position: absolute;
}

#header {
  a {
    color: inherit;
    text-decoration: none;
  }
  h1 {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    height: inherit;
    line-height: inherit;
    margin-left: 1.5em;
    margin-top: 2em;
    &:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important;
    }
    a {
      display: inline-block;
      font-size: 0.9em;
      height: inherit;
      line-height: inherit;
    }
    &:before {
      background: #ffffff;
      border-radius: 100%;
      color: #EE0000;
      content: url('../images/logo.png');
      display: inline-block;
      font-size: 1em;
      height: 2em;
      line-height: 2em;
      margin-left: -0.5em;
      margin-right: 0.5em;
      text-align: center;
      width: 0em;
      margin-top: 2em;
    }
  }
}

.partnerbanner {
  background-image: url("../images/overlay.png"), -moz-linear-gradient(45deg, rgba(255, 224, 0, 0.65), rgba(0, 0, 0, 0.85)), url("../images/banner-photo copy.jpg") !important;
  background-image: url("../images/overlay.png"), -webkit-linear-gradient(45deg, rgba(255, 224, 0, 0.65), rgba(0, 0, 0, 0.85)), url("../images/banner-photo copy.jpg") !important;
  background-image: url("../images/overlay.png"), -ms-linear-gradient(45deg, rgba(255, 224, 0, 0.65), rgba(0, 0, 0, 0.85)), url("../images/banner-photo copy.jpg") !important;
  background-image: url("../images/overlay.png"), linear-gradient(45deg, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.85)), url("../images/banner-photo copy.jpg") !important;
}

#header nav {
  height: inherit;
  /* margin-right: 1.5em; */
  position: fixed;
  /* right: 0; */
  top: 0;
  background-color: black;
  width: 100%;
  padding-right: 20px;
}

body.admin-menu #header nav {
  margin-top: 20px;
}

#header {
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 21px;
    float: right;
    li {
      display: inline-block;
      margin-left: 1.5em;
      a {
        font-weight: 700;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-size: 0.9em;
        padding: 10px 5px;
        &.submenu {
          text-decoration: none;
          &:before {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-transform: none !important;
            content: '\f107';
            margin-right: 0.75em;
          }
        }
      }
      > ul {
        display: none;
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .navPanelToggle {
    text-decoration: none;
    height: 4em;
    position: absolute;
    right: 0;
    top: 0;
    width: 5em;
    display: none;
    &:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important;
      content: '\f0c9';
      width: 3em;
      height: 3em;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      text-align: center;
    }
  }
  &.reveal {
    -moz-animation: reveal-header 0.5s ease;
    -webkit-animation: reveal-header 0.5s ease;
    -ms-animation: reveal-header 0.5s ease;
    animation: reveal-header 0.5s ease;
  }
  &.alt {
    -moz-animation: none;
    -webkit-animation: none;
    -ms-animation: none;
    animation: none;
    background: transparent;
    position: absolute;
    margin-top: 4rem;
    nav {
      margin-right: 2.5em;
    }
  }
}

.dropotron {
  list-style: none;
  padding: 0;
  background: #2F373F;
  color: #ffffff;
  min-width: 12em;
  border-radius: 5px;
  padding: 1em;
  margin-top: -0.5em;
  li {
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.075);
    &:first-child {
      box-shadow: none;
    }
  }
  a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.8em;
    display: block;
    line-height: 3em;
  }
  &.level-0 {
    margin-top: -0.5em;
    &:before {
      content: '';
      border-left: solid 0.5em transparent;
      border-right: solid 0.5em transparent;
      border-bottom: solid 0.5em #2F373F;
      display: block;
      position: absolute;
      top: -0.45em;
      left: 50%;
      margin-left: -0.25em;
    }
  }
}

@media screen and (max-width: 980px) {
  body {
    padding-top: 3em;
  }
  #header {
    height: 3em;
    line-height: 2.95em;
    h1:before {
      font-size: 0.8em;
    }
  }
  .dropotron {
    min-width: 11em;
    padding: 0.5em;
  }
}

@media screen and (max-width: 736px) {
  #header {
    height: 3em !important;
    line-height: 2.95em !important;
    h1 {
      margin-left: 1.25em !important;
    }
    nav {
      display: none;
    }
    .navPanelToggle {
      display: block;
    }
  }
}

/* Banner */

#banner {
  background-image: url("../images/overlay.png"), -moz-linear-gradient(45deg, rgba(255, 224, 0, 0.65), rgba(0, 0, 0, 0)), url("../images/banner-photo.jpg");
  background-image: url("../images/overlay.png"), -webkit-linear-gradient(45deg, rgba(255, 224, 0, 0.65), rgba(0, 0, 0, 0)), url("../images/banner-photo.jpg");
  background-image: url("../images/overlay.png"), -ms-linear-gradient(45deg, rgba(255, 224, 0, 0.65), rgba(0, 0, 0, 0)), url("../images/banner-photo.jpg");
  background-image: url("../images/overlay.png"), linear-gradient(45deg, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0)), url("../images/banner-photo.jpg");
  background-position: center center;
  background-size: auto, cover, cover;
  background-attachment: fixed, fixed, fixed;
  background-repeat: repeat, no-repeat, no-repeat;
  position: relative;
  min-height: 70vh;
  height: 35em;
  .content {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(21, 27, 33, 0.6);
    color: #ffffff;
    padding: 3.5em 0 2em 0;
    width: 100%;
    input, select, textarea, a, strong, b, h1, h2, h3, h4, h5, h6 {
      color: #ffffff;
    }
    blockquote {
      border-left-color: #ffffff;
    }
    code {
      background: rgba(255, 255, 255, 0.075);
      border-color: #ffffff;
    }
    hr {
      border-bottom-color: #ffffff;
    }
    input {
      &[type="submit"], &[type="reset"], &[type="button"] {
        background-color: transparent;
        box-shadow: inset 0 0 0 2px #ffffff;
        color: #ffffff !important;
        letter-spacing: 0.05em;
        text-transform: uppercase;
      }
    }
    button, .button {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px #ffffff;
      color: #ffffff !important;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
    input {
      &[type="submit"]:hover, &[type="reset"]:hover, &[type="button"]:hover {
        background-color: rgba(255, 255, 255, 0.075);
      }
    }
    button:hover, .button:hover {
      background-color: rgba(255, 255, 255, 0.075);
    }
    input {
      &[type="submit"]:active, &[type="reset"]:active, &[type="button"]:active {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
    button:active, .button:active {
      background-color: rgba(255, 255, 255, 0.2);
    }
    input {
      &[type="submit"].icon:before, &[type="reset"].icon:before, &[type="button"].icon:before {
        color: #ffffff;
      }
    }
    button.icon:before, .button.icon:before {
      color: #ffffff;
    }
    input {
      &[type="submit"].special, &[type="reset"].special, &[type="button"].special {
        box-shadow: none;
        background-color: #ffffff;
        color: rgba(77, 89, 104, 1) !important;
      }
    }
    button.special, .button.special {
      box-shadow: none;
      background-color: #ffffff;
      color: rgba(77, 89, 104, 1) !important;
    }
    input {
      &[type="submit"].special.icon:before, &[type="reset"].special.icon:before, &[type="button"].special.icon:before {
        color: #ffffff;
      }
    }
    button.special.icon:before, .button.special.icon:before {
      color: #ffffff;
    }
    header {
      p {
        color: #ffffff;
      }
      &.major:after {
        background-color: #ffffff;
      }
    }
    > .inner {
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -moz-align-items: center;
      -webkit-align-items: center;
      -ms-align-items: center;
      align-items: center;
      margin: 0 auto;
      width: 70em;
      header {
        width: 75%;
      }
      .actions {
        padding-left: 1em 0 1em 3em;
        margin-left: 4em;
        text-align: right;
        border-left: 1px solid #FFF;
      }
    }
  }
}

body.is-mobile #banner {
  background-attachment: scroll;
}

@media screen and (max-width: 1280px) {
  #banner {
    min-height: 0;
    .content {
      padding: 4em 3em 2em 3em;
      > .inner {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 980px) and (orientation: landscape) {
  #banner {
    height: 30em;
  }
}

@media screen and (max-width: 980px) and (orientation: portrait) {
  #banner {
    height: 50em;
  }
}

@media screen and (max-width: 980px) {
  #banner .content > .inner {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    header {
      width: 100%;
    }
    .actions {
      width: 100%;
      padding-left: 0;
      text-align: left;
    }
  }
}

@media screen and (max-width: 736px) and (orientation: landscape) {
  #banner {
    height: 25em;
  }
}

@media screen and (max-width: 736px) and (orientation: portrait) {
  #banner {
    height: 30em;
  }
}

@media screen and (max-width: 736px) {
  #banner .content {
    padding: 2.5em 2em 0.5em 2em;
  }
}

@media screen and (max-width: 480px) {
  #banner .content {
    padding: 2.5em 1.5em 0.5em 1.5em;
  }
}

/* Footer */

#footer {
  background-image: url("../images/overlay.png"), -moz-linear-gradient(45deg, rgba(255, 224, 0, 0.95), rgba(40, 40, 40, 0.45)), url("../images/banner.jpg");
  background-image: url("../images/overlay.png"), -webkit-linear-gradient(45deg, rgba(255, 224, 0, 0.95), rgba(40, 40, 40, 0.45)), url("../images/banner.jpg");
  background-image: url("../images/overlay.png"), -ms-linear-gradient(45deg, rgba(255, 224, 0, 0.95), rgba(40, 40, 40, 0.45)), url("../images/banner.jpg");
  background-image: url("../images/overlay.png"), linear-gradient(45deg, rgba(0, 196, 255, 0.95), rgba(40, 40, 40, 0.45)), url("../images/banner.jpg");
  background-position: center center;
  background-size: auto, cover, cover;
  background-attachment: fixed, fixed, fixed;
  background-repeat: repeat, no-repeat, no-repeat;
  /* background-color: rgba(77, 89, 104, 0.6); */
  color: #ffffff;
  input, select, textarea, a, strong, b, h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
  }
  blockquote {
    border-left-color: #ffffff;
  }
  code {
    background: rgba(255, 255, 255, 0.075);
    border-color: #ffffff;
  }
  hr {
    border-bottom-color: #ffffff;
  }
  input {
    &[type="submit"], &[type="reset"], &[type="button"] {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px #ffffff;
      color: #ffffff !important;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
  }
  button, .button {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #ffffff;
    color: #ffffff !important;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  input {
    &[type="submit"]:hover, &[type="reset"]:hover, &[type="button"]:hover {
      background-color: rgba(255, 255, 255, 0.075);
    }
  }
  button:hover, .button:hover {
    background-color: rgba(255, 255, 255, 0.075);
  }
  input {
    &[type="submit"]:active, &[type="reset"]:active, &[type="button"]:active {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
  button:active, .button:active {
    background-color: rgba(255, 255, 255, 0.2);
  }
  input {
    &[type="submit"].icon:before, &[type="reset"].icon:before, &[type="button"].icon:before {
      color: #ffffff;
    }
  }
  button.icon:before, .button.icon:before {
    color: #ffffff;
  }
  input {
    &[type="submit"].special, &[type="reset"].special, &[type="button"].special {
      box-shadow: none;
      background-color: #ffffff;
      color: rgba(77, 89, 104, 0.6) !important;
    }
  }
  button.special, .button.special {
    box-shadow: none;
    background-color: #ffffff;
    color: rgba(77, 89, 104, 0.6) !important;
  }
  input {
    &[type="submit"].special.icon:before, &[type="reset"].special.icon:before, &[type="button"].special.icon:before {
      color: #ffffff;
    }
  }
  button.special.icon:before, .button.special.icon:before {
    color: #ffffff;
  }
  header {
    p {
      color: #ffffff;
    }
    &.major:after {
      background-color: #ffffff;
    }
  }
  .content {
    padding: 6.5em 0 4.5em 0;
    padding-bottom: 0;
    > .inner {
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      margin: 0 auto;
      width: 70em;
      > * {
        padding-left: 3em;
        width: 25%;
      }
      .about {
        padding-left: 0;
        width: 50%;
      }
    }
  }
  .copyright {
    font-size: 0.8em;
    margin: 0;
    padding: 8em 0;
    text-align: center;
    br {
      display: none;
    }
    a {
      color: inherit;
    }
  }
}

@media screen and (max-width: 1280px) {
  #footer .content {
    padding: 5em 3em 3em 3em;
    padding-bottom: 0;
    > .inner {
      width: 100%;
      > * {
        width: 30%;
      }
      .about {
        width: 40%;
      }
    }
  }
}

@media screen and (max-width: 980px) {
  #footer .content > .inner {
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    > * {
      width: 50%;
      padding-left: 0;
    }
    .about {
      width: 100%;
      margin: 0 0 2em 0;
    }
  }
}

@media screen and (max-width: 736px) {
  #footer .content {
    padding: 2.5em 2em 0.5em 2em;
  }
}

@media screen and (max-width: 480px) {
  #footer .content {
    padding: 2.5em 1.5em 0.5em 1.5em;
    > .inner > * {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1280px) {
  #footer .copyright {
    padding: 1em 0;
  }
}

@media screen and (max-width: 736px) {
  #footer .copyright {
    padding: 2em 0;
  }
}

@media screen and (max-width: 480px) {
  #footer .copyright br {
    display: block;
  }
}

body.is-mobile #footer {
  background-attachment: scroll;
}

/* Navigation Panel */

#navPanel {
  background-color: rgba(77, 89, 104, 0.6);
  color: #ffffff;
  -moz-transform: translateX(20em);
  -webkit-transform: translateX(20em);
  -ms-transform: translateX(20em);
  transform: translateX(20em);
  -moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
  -webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
  -ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
  transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
  -webkit-overflow-scrolling: touch;
  background-color: #2F373F;
  box-shadow: none;
  display: none;
  height: 100%;
  max-width: 80%;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 20em;
  z-index: 102;
  input, select, textarea, a, strong, b, h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
  }
  blockquote {
    border-left-color: #ffffff;
  }
  code {
    background: rgba(255, 255, 255, 0.075);
    border-color: #ffffff;
  }
  hr {
    border-bottom-color: #ffffff;
  }
  nav {
    padding: 3em 2em;
  }
  .link {
    border: 0;
    border-top: solid 1px rgba(255, 255, 255, 0.075);
    color: inherit !important;
    display: block;
    font-size: 0.8em;
    letter-spacing: 0.05em;
    padding: 0.75em 0;
    text-decoration: none;
    text-transform: uppercase;
    &:first-child {
      border-top: 0;
    }
    &.depth-0 {
      font-weight: 700;
      color: inherit !important;
    }
    .indent-1 {
      display: inline-block;
      width: 1.25em;
    }
    .indent-2 {
      display: inline-block;
      width: 2.5em;
    }
    .indent-3 {
      display: inline-block;
      width: 3.75em;
    }
    .indent-4 {
      display: inline-block;
      width: 5em;
    }
    .indent-5 {
      display: inline-block;
      width: 6.25em;
    }
  }
  .close {
    text-decoration: none;
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    display: block;
    height: 4em;
    padding-right: 1.25em;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    vertical-align: middle;
    width: 5em;
    &:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important;
      content: '\f00d';
      width: 3em;
      height: 3em;
      line-height: 3em;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      text-align: center;
    }
    &:hover {
      color: inherit;
    }
  }
  &.visible {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
    visibility: visible;
  }
}

@media screen and (max-width: 736px) {
  #navPanel .close {
    height: 4em;
    line-height: 4em;
  }
}

.nav {
  > li > a {
    &:hover, &:focus {
      background: none;
    }
  }
  .open > a {
    background: none;
    &:hover, &:focus {
      background: none;
    }
  }
}

.dropdown-menu > li > a {
  color: inherit;
}

@media screen and (max-width: 736px) {
  #navPanel {
    display: block;
    nav {
      padding: 2.25em 1.25em;
    }
  }
}

button.btn.btn-danger {
  background-color: #B22222;
}

a.btn {
  &.link-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    text-decoration: none;
  }
  &.link-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    text-decoration: none;
  }
}
