.master-container {
  margin-top: 2rem;
  .page-header {
    margin-bottom: 0;
    padding-bottom: 0;
    header {
      h2 {
        line-height: 0;
        margin-bottom: 10px;
      }
      margin-bottom: 10px;
    }
  }
  .messages-row .col-md-12 {
    padding-left: 0;
  }
  #block-system-main {
    form {
      &[id^='user-login-'], &[id*=' user-login-'] {
        br {
          display: none;
        }
        a {
          margin-top: 8px;
          display: inline-block;
          margin-left: 20px;
        }
      }
      .form-actions {
        float: left;
      }
      &#user-register-form {
        .form-item-pass-pass1 {
          padding-left: 0;
          .progress {
            height: 4px;
          }
        }
        .form-item-pass {
          padding-bottom: 0;
          margin-bottom: 0;
          .form-type-password {
            padding-bottom: 0;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.tabs--primary {
  &.nav-pills {
    border-bottom: 1px solid #dadada;
    display: inline-block;
    margin-bottom: 20px;
    li {
      &:first-child {
        a {
          padding-left: 0;
        }
      }
      background-color: transparent;
      a {
        text-decoration: none;
      }
      padding-left: 0px;
      &.active {
        a {
          background-color: transparent;
          color: #137AAA;
        }
        border-bottom: 2px solid #137AAA;
      }
    }
    >li+li {
      margin-left: 0px;
    }
  }
}

.landing .region-content {
  padding: 25px 0;
}

.wrapper{
  &.cta {
    padding: 2em 3em 2em 3em;
    p {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  &.three {
    padding: 2em 3em 2em 3em;
    form {
      margin-bottom: 0;
      input[type="submit"] {
        display: none;
      }
    }
  }
}

.node-teaser .method_details .title,
.view .method_details .title {
  width: auto;
}

.view-devconnect-blog {
  &.view-display-id-block_1 {
    .views-row {
      margin-bottom: 20px;
      .views-field-created {
        font-weight: bold;
      }
    }
  }
}

.view-home-featured-forum-posts {
  &.view-display-id-block {
    .views-row {
      margin: 7px 0;
      border-bottom: 1px solid gainsboro;
      padding-bottom: 7px;
      &:first-child {
        margin-top: 0px;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.panel-default>.panel-heading {
  h4 {
    margin-bottom: 0;
  }
}

.panel-body {
  .field-type-text-with-summary {
    margin-top: 0;
  }
  p {
    margin-bottom: 0;
  }
}
.panel-footer {
  ul {
    &.list-inline {
      margin-bottom: 0;
    }
  }
}

.comment-wrapper {
  form {
    overflow: hidden;
    .form-actions {
      margin-bottom: 0;
    }
  }
}

.text-format-wrapper {
  .filter-wrapper {
    .form-type-select {
      margin-left: 10px;
      select {
        line-height: normal;
      }
    }
  }
}

#forum {
  .forum-tools {
    form {
      margin-bottom: 0px;
    }
  }
  #forum-forum {
    .col-md-12 {
      padding-left: 0;
      .panel-heading {
        h3 {
          margin-bottom: 0;
        }
      }
      .table-responsive {
        thead {
          th {
            &.topics-th, &.posts-th {
              text-align: center;
            }
          }
        }
        tbody {
          td {
            vertical-align: middle;
            h3 {
              padding-bottom: 0;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  #forum-legend {
    .panel-heading {
      h3 {
        margin-bottom: 0;
      }
    }
    .panel-body {
      .forum-list-icon-legend {
        margin-bottom: 0;
        h3 {
          display: inline;
        }
      }
    }
  }
  .img-responsive {
    display: inherit;
  }
}

.view-advanced-forum-active-topics {
  form {
    .views-submit-button {
      .form-submit {
        margin-top: 2.9em;
        line-height: normal;
        height: auto;
      }
    }
  }
  .view-content {
    .panel-heading {
      h3 {
        margin-bottom: 0;
      }
    }
    .table-responsive {
      thead {
        th {
          vertical-align: middle;
          a {
            padding: 0 10px;
            display: flex;
            align-items: center;
            .img-responsive {
              margin-left: 8px;
            }
          }
        }
      }
      span.topic-icon {
        display: block;
        overflow: hidden;
      }
    }
  }
  .img-responsive {
    display: inherit;
  }
}
